<div class="contentTopics reqCreation">
    <?php
    if($canCreate == 'NOR'){
        echo <<<HTML
           <span id="reqCreation" class="reqCreationButton" onclick="requestCreation()">Request to become creator</span>
        HTML;
    }elseif($canCreate == 'REQ'){
        echo <<<HTML
        <span id="requested" >You have applied for creator</span>
        <span id="reqCreation" class="reqCreationButton" onclick="requestCreation()">Request Again</span>
        HTML;
    }elseif($canCreate == 'REJ'){
        echo <<<HTML
        <span id="reqCreation" class="reqCreationButton" onclick="requestCreation()">Request Again</span>
        HTML;
    }elseif($canCreate == 'ACC'){

    }
    ?>
    
</div>