<div class="photosLibrary">
    <div class="title ml-2"> Photos</div>
    <div class="photosDiv uploadDiv">
        <div class="uploadFile">
            <i class="fa fa-cloud-arrow-up"></i>
            <small>Upload Photos</small>
        </div>
        <div class="uploadedFile">
            <div class="uploadDivInside">
                <div class="imgDiv" onclick="showImage('/monaLisa.jpg')">
                    <img src="/monaLisa.jpg" alt="">
                </div>
                <div class="fileOptions">
                    <i class="fa fa-ellipsis-v optIcon" onclick="showPicOptions('picOptions1')"></i>
                </div>

                <div class="picOptions" id="picOptions1" style="display:none" >
                    <div onclick="showImage('/monaLisa.jpg')">View</div>
                    <div>Delete</div>
                </div>
            </div>
        </div>
        
        <div class="uploadedFile">
            <div class="uploadDivInside">
                <div class="imgDiv" onclick="showImage('/favicon.ico')">
                    <img src="/favicon.ico" alt="">
                </div>
                <div class="fileOptions">
                    <i class="fa fa-ellipsis-v optIcon" onclick="showPicOptions('picOptions2')"></i>
                </div>

                <div class="picOptions" id="picOptions2" style="display:none" >
                    <div onclick="showImage('/favicon.ico')">View</div>
                    <div>Delete</div>
                </div>
            </div>
        </div>

        <div class="uploadedFile"></div>
        <div class="uploadedFile"></div>
        <div class="uploadedFile"></div>
        <div class="uploadedFile"></div>
    </div>
</div>