<div class="photosLibrary">
    <div class="title ml-2"> Photos</div>
    <div class="photosDiv uploadDiv">
        <div class="uploadFile">
            <i class="fa fa-cloud-arrow-up"></i>
            <small>Upload Photos</small>
        </div>
        <div class="uploadedFile">
            <div class="uploadDivInside">
                <div class="imgDiv">
                    <img src="/monaLisa.jpg" alt="">
                </div>
                <div class="fileOptions"></div>
            </div>
        </div>
        
        <div class="uploadedFile">
            <div class="uploadDivInside">
                <div class="imgDiv">
                    <img src="/monaLisa.jpg" alt="">
                </div>
                <div class="fileOptions"></div>
            </div>
        </div>

        <div class="uploadedFile"></div>
        <div class="uploadedFile"></div>
        <div class="uploadedFile"></div>
        <div class="uploadedFile"></div>
    </div>
</div>