RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !^/profile/index\.php$
RewriteRule ^u/([^/]+)/?$ /profile/index.php?u=$1 [L,QSA]
RewriteRule ^uploads/([^/]+)/([^/]+)/([^/]+)\.([^/]+)$ /uploads.php?type=$1&UN=$2&ID=$3&EXT=$4 [L]