:root {
  --card_width: 250px;
  --row_increment: 10px;
  --card_border_radius: 0px;
  --card_small: 20;
  --card_med: 33;
  --card_large: 40;
}

body{
  margin: 0;
  padding: 0;
  
}

.pin_container {
  margin: 0;
  padding: 0;
  width: 95vw;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
 display: grid;
  grid-template-columns: repeat(auto-fill, var(--card_width));
  grid-auto-rows: var(--row_increment);
  justify-content: center;
 }

 .card {
  padding: 1px;
  margin: 11px 8px;
  border-radius: var(--card_border_radius);
 }

 .card_small .image img{
  width: 100%;
  height: 60%;
  object-fit: cover;
  border-radius: 10px;
 }

 .card_small .title{
  padding: 5px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bolder;
  text-transform: capitalize;
 }
 .card_large .image img, .card_medium .image img{
  border-radius: 10px;
  height: 100%;
  width: 100%;
  object-fit: cover;
 }

 .card_large .title, .card_medium .title{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bolder;
  text-transform: capitalize;
  margin-top: -75px;
  padding: 0px 10px;
  color: white;

 }

 .card_small{
  grid-row-end: span var(--card_small);
 }
 .card_large{
  grid-row-end: span var(--card_large);
 }
 .card_medium{
  grid-row-end: span var(--card_med);
 }

 @media (max-width: 500px) {
  .pin_container {
    width: 100%;
    grid-template-columns: repeat(auto-fill, 180px);
  }

  .card_small{
    grid-row-end: span 20;
   }
   .card_large{
    grid-row-end: span 30;
   }
   .card_medium{
    grid-row-end: span 25;
   }
  
 }