<div class="contentTopics">
    <div class="personalInfoTab" id="personalInfoShow">
        <div class="title">
            Personal Details
        </div>

        <div class="infoDiv">
            <span class="infoType"> <i class="fa-solid fa-user fa-xl"></i></span>
            <span class="infoValue"><?php echo $this->userData->getOtherData('username', $this->otherUsername)['name'];?>
            <?php
            if ($this->userData->getOtherData('username', $this->otherUsername)['DOB'] != null) {
                if($canViewAge == 'anon'){
                    echo '('.$this->userData->getOtherData('username', $this->otherUsername)['age'].')';
                }
            }
            ?>
            </span>
        </div>

        <div class="infoDiv">
            <span class="infoType">
                <i class="fa-solid fa-hashtag fa-xl"></i>
            </span>
            <span class="infoValue"><?php echo $this->userData->getOtherData('username', $this->otherUsername)['username'];?></span>
        </div>

        <?php
        if($canViewMail == 'anon'){
            echo <<<HTML
                <div class="infoDiv">
                    <span class="infoType"><i class="fa-solid fa-at fa-xl"></i></span>
                    <span class="infoValue">{$this->userData->getOtherData('username', $this->otherUsername)['email']}</span>
                </div>
            HTML;
        }
        ?>

        <?php
        if($this->userData->getOtherData('username', $this->otherUsername)['websiteUrl'] != null){
        echo <<<HTML
        <div class="infoDiv">
            <span class="infoType"><i class="fa-solid fa-earth-asia fa-xl"></i></span>
            <span class="infoValue">{$this->userData->getOtherData('username', $this->otherUsername)['websiteUrl']}
            </span>
        </div>
        HTML;
        }
        ?>

        <?php
        if($this->userData->getOtherData('username', $this->otherUsername)['bio'] != null || !empty($this->userData->getOtherData('username', $this->otherUsername)['bio'])){
        echo <<<HTML
        <div class="infoDiv">
            <span class="infoType"><i class="fa-solid fa-circle-info fa-xl"></i></span>
            <span class="infoValue">{$this->userData->getOtherData('username', $this->otherUsername)['bio']}
            </span>
        </div>
        HTML;
        }
        ?> 
    </div>
</div>    
