<div class="container">
    <div class="row gutters profile">
        <!-- Profile on left side -->
        <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12 guttersInside leftSide">
            <div class="card h-100">
                <div class="card-body">
                    <div class="account-settings">
                        <div  class="user-profile">
                            <div class="user-avatar">
                                <img src="<?php echo $this->userData->getOtherData('username', $this->otherUsername)['profilePic']?>">
                            </div>
                            <br>
                            <div class="user-details">
                                <h3  class="user-name"><?php echo $this->userData->getOtherData('username', $this->otherUsername)['name'];
                                  if($canCreate == 'ACC'){
                                    echo '<i class="fa-solid fa-check-circle fa-sm" style="margin-left: 10px; color:#3367d6;"></i>';
                                  }else{
                                    echo '<i class="fa-solid fa-check-circle fa-sm" style="margin-left: 10px;"></i>';
                                  }
                                  ?>
                                </h3>
                                <h4 class="user-email">@<?php echo $this->userData->getOtherData('username', $this->otherUsername)['username']?></h4>
                            </div>
                        </div>
                        <div class="profileOptions">
                          <div id="g_id_onload"
        										data-client_id="878548651441-q7db04pmge7g6vlcieepnr21j9mkj2iu.apps.googleusercontent.com"
        										data-context="use"
        										data-ux_mode="popup"
        										data-callback="onGoogleSignIn"
        										data-auto_prompt="false">
        									</div>

        									<div id="g_id_signin menus" class="g_id_signin"
        										data-type="standard"
        										data-shape="pill"
        										data-theme="filled_black"
        										data-text="continue_with"
        										data-size="large"
        										data-logo_alignment="left"
        										data-width="290">
        									</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Profile on left side -->

        <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12 guttersInside">
            <div class="userContent">
                <!-- Menus section -->
                <div class="userContentMenus scrollbar-style">
                    <a id="dashboardMenu" class="menus" onclick="stylePage.updateMenus('')" href="#">Content</a>
                    <a id="detailsMenu" class="menus" onclick="stylePage.updateMenus('details')" href="#details">About</a>
                    <a id="mediaMenu" class="menus" onclick="stylePage.updateMenus('media')" href="#media"> Media Library</a>

                </div>
                <!-- Menus section -->

                <!-- Dashboard Section -->
                <div id="dashboardDiv" class="dashboardDiv contentView" style="display:none">
                  <?php
                  include 'dashboard.html';
                  ?>
                </div>
                <!-- Dashboard Section -->

                   <!-- Details Section -->
                   <div id="detailsDiv" class="detailsDiv contentView" style="display:none">
                    <?php
                    include 'details.html';
                    ?>
                </div>
                <!-- Details Section -->

                <!-- Media Library Section -->
                <div id="mediaDiv" class="mediaDiv contentView" style="display:none">
                    <?php
                        include 'media-library.html';
                    ?>
                </div>
                <!-- Media Library Section -->


            </div>
        </div>
    </div>
</div>
