<?php
if($canCreate == 'REQ'){
  $id = $this->userData->getOtherData('username', $this->otherUsername)['UID'];
  $username =$this->userData->getOtherData('username', $this->otherUsername)['username'];
  $data = $this->uploadData->documentVerificationFile($id);
  $url = '/uploads/'.$data['type'].'/'.$data['username'].'/'.$data['uploadID'].$data['extension'];
    echo <<<HTML
    <div class="contentTopics resCreation row">
        <div class="title col-12 mb-3">Creator Request</div>
        <div class="col-12 d-inline">
          <div class="alert alert-info" style="max-width:600px" role="alert">
          A request been made for contribution to Fastreed by this user.
          <hr>
          Proof Document: <a target="_blank" href="{$url}">Click Here</a>
          </div>
        </div>
        <div class="alert alert-danger"  id="errorDoc" role="alert" style="display:none;">
        </div>
        <div class="ml-3 col-12 d-inline">
         <input type="text" id="rejectionReason" placeholder="Reason of rejection" style="margin:20px 10px 20px 0px;padding: 4px;">
       </div>
        <div class="ml-3 col-12" style="display:flex;">
         <span  id="requested" class="responseButton ACCbutton" onclick="responseCreation('ACC')">Accept</span>
         <span  id="rejected" class="responseButton REJbutton" onclick="responseCreation('REJ')">Reject</span>
        </div>

    </div>
HTML;
}elseif($canCreate == 'REJ'){
  $id = $this->userData->getOtherData('username', $this->otherUsername)['UID'];
  $username =$this->userData->getOtherData('username', $this->otherUsername)['username'];
  $data = $this->uploadData->documentVerificationFile($id);
  $url = '/uploads/'.$data['type'].'/'.$data['username'].'/'.$data['uploadID'].$data['extension'];
  echo <<<HTML
  <div class="contentTopics resCreation row">
      <div class="title col-12 mb-3">Allow to write</div>
      <div class="col-12 d-inline">
      <div class="alert alert-info" style="max-width:600px" role="alert">
        Would you like this user to contribute to the website or not
        <hr>
        Proof Document: <a target="_blank" href="{$url}">Click Here</a>
      </div>
      <div class="alert alert-danger"  id="errorDoc" role="alert" style="display:none;">
      </div>
      <div class="col-12 d-inline">
       <input type="text" id="rejectionReason" placeholder="Reason of rejection" style="margin:20px 10px 20px 0px;padding: 4px;">
     </div>
      <div class="col-12" style="display:flex;">
       <span  id="requested" class="responseButton ACCbutton" onclick="responseCreation('ACC')">Accept</span>
       <span  id="rejected" class="responseButton REJbutton" onclick="responseCreation('REJ')">Reject</span>
      </div>
  </div>
HTML;
}elseif($canCreate == 'NOR'){
  $id = $this->userData->getOtherData('username', $this->otherUsername)['UID'];
  $username =$this->userData->getOtherData('username', $this->otherUsername)['username'];
  echo <<<HTML
  <div class="contentTopics resCreation row">
      <div class="title col-12 mb-3">Allow to write</div>
      <div class="col-12 d-inline">
        <div class="alert alert-info" style="max-width:600px" role="alert">
          Would you like this user to contribute to the website or not
        </div>
      <div class="ml-3 col-12 d-inline">
       <input type="text" id="rejectionReason" placeholder="Reason of rejection" style="margin:20px 10px 20px 0px;padding: 4px;">
     </div>
      <div class="ml-3 col-12" style="display:flex;">
       <span  id="requested" class="responseButton ACCbutton" onclick="responseCreation('ACC')">Accept</span>
       <span  id="rejected" class="responseButton REJbutton" onclick="responseCreation('REJ')">Reject</span>
      </div>
  </div>
HTML;
}
?>

<div class="contentTopics resCreation row webstoriesDiv" id="webstoriesDiv">
    <div class="mtitle mb-3">
        <?php
        if($canCreate == 'ACC'){
            echo <<<HTML
            <div class="topBarMenus">
              <span>My Web Stories</span>
              <span id="reqCreation" onclick="InitializeWebstory('')"><i class="fa fa-solid fa-square-plus fa-lg"></i>
              </span>
              <div class="storiesTypeRightDiv">
                <select class="storiesTypes"  id="storyTypes" onchange="fetchStoriesDataAdmin.filterWebstory(this)">
                  <option class="storyType" id="typeAll" value="All">All</option>
                  <option class="storyType" id="typeDrafted" value="Drafted">Drafted</option>
                  <option class="storyType" id="typePublished" value="Published">Published</option>
                  <option class="storyType" id="typeVerified" value="Verified">Verified</option>
                </select>
              </div>
            </div>
            <div class="webstories" id="webstories">
            </div>
            HTML;
        }
        ?>
    </div>

</div>
