<div class="photosLibrary">
    <div class="uploadsHead" id="uploadHead">
        <label  for="uploadInputImage" class="labelUpload" >Upload New&nbsp;&nbsp;<i class="ml-1 fa fa-solid fa-square-plus"></i>
        <input onchange="new showMenus().uploadMedia()" type="file" id="uploadInputImage" hidden>
        </label>
    </div>

    <div class="photosDiv uploadDiv">
        <div class="uploadedFile" id="tempUploadBox" style="display: none;">
            <div class="uploadDivInside">
                <div class="imgDiv" id="tempImage">
                </div>
                <div class="uploadProgressDiv" id="uploadProgressDiv">
                </div>
            </div>
        </div>


        <div class="uploadedFile" id="tempUploadBox" style="display: none;">
            <div class="uploadDivInside">
                <div class="imgDiv" id="tempImage">
                </div>
                <div class="uploadProgressDiv" id="uploadProgressDiv">
                </div>
            </div>
        </div>


        <div class="uploadedFile" id="tempUploadBoxVideo" style="display: none;">
            <div class="uploadDivInside">
                <div class="imgDiv" id="tempVideo">
                </div>
                <div class="uploadProgressDiv" id="uploadProgressDivVideo">
                </div>
            </div>
        </div>

        <?php
        $id = $this->userData->getOtherData('username', $this->otherUsername)['UID'];
        $username =$this->userData->getOtherData('username', $this->otherUsername)['username'];
        $data = $this->uploadData->getAllData($id);
        $data = array_reverse($data);
        $length = count($data);

        if(!$length){
            echo <<<HTML
            <div class="noUpload" id="noUploads">
                <div><i class="fa fa-circle-exclamation fa-xl"></i></div>
                <div> <p>No Media Uploaded!</p></div> </div>
            HTML;
        }

        for($i=0;$i < $length; $i++ ){
            $idn = $i+1;
            $pathImg = '/uploads/photos/'.$data[$i][2].$data[$i][6];
            $pathVid = '/uploads/videos/'.$data[$i][2].$data[$i][6];
            $whatToShow;
            $onclick;
            $what = '';
            if($data[$i][5] == 'photos'){
                $whatToShow = <<<HTML
                    <div class="imgDiv" onclick="showImage('{$pathImg}', '{$data[$i][7]}', '{$data[$i][2]}', '{$data[$i][6]}', 'photo{$idn}', '{$data[$i][8]}', '{$data[$i][9]}', '{$data[$i][10]}')" >
                        <img class="lazyload" data-src="$pathImg" alt="">
                    </div>
                HTML;
                $what = 'photos';
                $onclick = 'showImage("'.$pathImg.'")';
                $icon = '';
            }elseif($data[$i][5] == 'videos'){
                $whatToShow = <<<HTML
                    <div class="imgDiv" onclick="showVideo('{$pathVid}', '{$data[$i][7]}', '{$data[$i][2]}', '{$data[$i][6]}', 'photo{$idn}', '{$data[$i][8]}', '{$data[$i][9]}', '{$data[$i][10]}')">
                        <video class="lazyload" data-src="$pathVid">
                            <source src="{$pathVid}" type="video/mp4">
                        </video>
                    </div>
                HTML;
                $what = 'videos';
                $onclick = 'showVideo("'.$pathVid.'")';
                $icon = '
                    <svg aria-label="Clip" color="rgb(255, 255, 255)" fill="rgb(255, 255, 255)" height="18" role="img" viewBox="0 0 24 24" width="18">
                        <path d="m12.823 1 2.974 5.002h-5.58l-2.65-4.971c.206-.013.419-.022.642-.027L8.55 1Zm2.327 0h.298c3.06 0 4.468.754 5.64 1.887a6.007 6.007 0 0 1 1.596 2.82l.07.295h-4.629L15.15 1Zm-9.667.377L7.95 6.002H1.244a6.01 6.01 0 0 1 3.942-4.53Zm9.735 12.834-4.545-2.624a.909.909 0 0 0-1.356.668l-.008.12v5.248a.91.91 0 0 0 1.255.84l.109-.053 4.545-2.624a.909.909 0 0 0 .1-1.507l-.1-.068-4.545-2.624Zm-14.2-6.209h21.964l.015.36.003.189v6.899c0 3.061-.755 4.469-1.888 5.64-1.151 1.114-2.5 1.856-5.33 1.909l-.334.003H8.551c-3.06 0-4.467-.755-5.64-1.889-1.114-1.15-1.854-2.498-1.908-5.33L1 15.45V8.551l.003-.189Z" fill-rule="evenodd"></path>
                    </svg>';
            }

            echo <<<HTML
                <div class="uploadedFile" id="photo{$idn}">
                    <div class="uploadDivInside">
                        {$whatToShow}
                        <div class="fileInfo">
                            {$icon}
                        </div>
                    </div>
                </div>
            HTML;
        }
        ?>
    </div>
</div>
