<div class="contentTopics">
  <div class="storyBox" id="storybox0">
    <div class="visibleArea">
      <div class="imageDiv">
        <img src="/assets/img/port1.png" alt="">
      </div>
        <div class="otherInfoDiv">
          <div class="title">
            <span>7 Things you need to know about chudial</span>
          </div>
          <div class="about">
            <div class="buttons" onclick="viewStory()"> <i class="fa fa-eye"></i></div>
            <div class="buttons" onclick="editStory()"><i class="fa fa-pen-to-square"></i></div>
            <div class="buttons" onclick="expandStoryData('storybox0')"> <i class="fa fa-caret-down"></i></div>
        </div>
      </div>
    </div>
    <div class="invisibleArea" height="0px">

    </div>
  </div>
</div>
