.leftSide{
    border: 1px solid grey;
    border-radius: 20px;
    height: 100%;
    margin-top: 20px;
}
.profile{
    margin: 15px 0px;
}
.profileOptions .profileActions{
    cursor: pointer;
    padding: 6px 25px;
    border: 1px solid grey;
    border-radius: 35px;
    margin-left: 20px;
}
.profileOptions{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.profileOptions .profileActions:first-child{
    margin-left: 0px;
}
.edit-fields{
   padding: 0;
}

.account-settings{
    max-width: 400px;
}
.account-settings .user-profile {
    margin: 0 0 1rem 0;
    text-align: center;
}
.account-settings .user-profile .user-avatar{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.contentTopics .user-avatar {
    display: flex;
    margin: 40px;
    align-items: center;
    justify-content: center;
}
.user-avatar .editPhotos{
    margin-top: -31px;
    margin-left: 65px;
    background-color: rgb(255, 255, 255);
    border: 2px solid grey;
    padding: 2px 8px;
    border-radius: 100px;
    color: #83878f;
}

.personalInfoTab .infoDiv{
    margin: 15px 10px;
}
.personalInfoTab .infoDiv .infoType{

}
.personalInfoTab .infoDiv .infoValue{
    margin-left: 10px;
    font-style: italic;
}
.personalInfoTab #editDetailsButton{
    display: inline-block;
    margin-left: 20px;
    margin-top: 20px;
    font-weight: 700;
    border: 1px solid;
    padding: 3px 8px;
    border-radius: 4px;
}
.personalInfoTab #editDetailsButton:hover{
    cursor: pointer;
    
}
.personalInfoTab #editDetailsButton i{
    margin-left: 10px;
}
.password #pErrorDiv{
    max-width: 300px;
}
.user-avatar .editPhotos:hover{
   cursor: pointer;
}
.account-settings .user-profile .user-avatar img , .user-avatar img{
    width: 180px;
    height: 180px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    border: 1px solid grey;
}
.user-avatar img{
    width: 80px;
    height: 80px;
}
.account-settings .user-profile h4.user-email {
    margin-top: 10px;
    font-size: 16px;
    font-weight: 400;
    color: #9fa8b9;
}
.account-settings .user-profile h3.user-name {
    font-size: 26px;
}

.form-control {
    border: 1px solid #cfd1d8;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    font-size: .825rem;
    background: #ffffff;
    color: #2e323c;
}
.user-profile .user-details{
    margin-top: 10px;
}
.card {
    background: #ffffff;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    border: 0;
    margin-bottom: 1rem;
}

.userContent{
    border-radius: 15px;
    padding: 20px 20px 0 20px;
}
.userContent .userContentMenus{
    display: flex;
    overflow: auto;
    border-bottom: 1px solid rgba(128, 128, 128, 0.607);
}
.userContent .userContentMenus .menus{
    padding: 5px 15px;
    margin: 0 5px;
    border-radius: 8px 8px 0 0;
    white-space: nowrap;
    text-decoration: none;
}
.userContent .userContentMenus .menus:first-child{
    margin-left: 0;
}

.userContent .userContentMenus .menus:last-child{
    margin-right: 0;
}
.userContent .userContentMenus .menus:hover{
    border-bottom: 3px solid #ec775c;
    background-color: #2e323c;
    cursor: pointer;
}

.userContent .userContentMenus .active{
    border-bottom: 3px solid #ec775c;
}
.contentView{
    margin-top: 20px;
}
.contentView .row{
    margin: 10px 0;
}
.contentView .content{
    border: 1px solid grey;
    border-radius: 15px;
    width: 100%;
    padding: 52.5px 20px;
    margin: 10px 0;
}
.contentView .title{
    color: #b8bcc5;
    font-weight: bolder;
}
.contentView .contentTopics{
    margin: 0;
    border: 1px solid grey;
    border-radius: 15px;
    padding:20px;
    margin-bottom: 20px;
}
.contentView .expandable{
    display: none;
}
.privacySecurity .password{
    margin-left: 5px;
}
.privacySecurity .password .inp{
    border-radius: 5px;
    background-color: transparent;
    border: 1px solid;
    margin: 0px 0px 25px 0px;
    max-width: 300px;
    display: flex;
    align-items: center;
    flex-direction: row;
}
.privacySecurity .password .inp .eye-logo{
    margin-left: 15px;
}
.privacySecurity .password .inp .eye-logo:hover{
    cursor: pointer;
}
.privacySecurity .password .button span{
    padding: 5px 10px;
}
.privacySecurity .password .button{
    width: auto;
    max-width: none;
}

.privacySecurity .password input{
    width: 85%;
    background-color: transparent;
    outline: none;
    border: none;
    padding: 8px 10px;
    /* color: aliceblue; */
    border-radius: 5px 0px 0px 5px;
    -webkit-user-select: none!important;
    -moz-user-select: none;
    -ms-user-select: none;
     user-select: none;
}
.privacySecurity .password input:-internal-autofill-selected {
    background-color: transparent!important;
  }
.privacySecurity .password input::selection{
background-color: transparent!important;
}
.privacySecurity .password input:hover,.privacySecurity .password input:focus{
    background-color: transparent;
}
.privacySecurity .expandable{
    transition: all 2s linear 1s;
    margin-top: 10px;
    height:0;
    display: none;
}
.setPassword .password{
    width: 70%;
}
.setPassword .googleBinded{
    /* text-align: center; */
    padding: 30px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}
.setPassword .googleBinded i{
    margin: 10px;
    color: rgb(127 127 208);
}
.setPassword .success{
    padding: 5px 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #28a745;
}
.setPassword .IndError{
    font-size: 10px;
    margin-bottom: 5px;
}
.setPassword .warning{
    padding: 5px 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: rgb(181 45 1 / 93%);
}
.setPassword .password .pErrorDiv{
    padding: 0px!important;
}
.privacySecurity .password .button{
    width: auto;
    max-width: none;
    display: inline-block;
    padding: 7px 10px;
}
.privacySecurity .password .button:hover{
    cursor: pointer;
    background-color: #3a3d40;
}

.errorMessage{
    font-size: 12px;
    margin-left: 15px;
}
.errorSpinner{
    display: inline-block;
    width: 12px;
    height: 12px;
    border-width: 2px;
}

#updateAlert{
    padding: 0px 15px;
    display: none;
}
#cancelEditing{
    margin-right: 10px;
}
.gutters .btn-cancel{
    margin-right: 8px;
    margin-top: 10px;
}
.gutters .btn-update{
    margin-top: 10px;
}
.delete-account .warning{
    display: block;
    margin: 5px 0px;
}
.delete-account .title{
    color: #dc3545!important;
}
.delete-account .deleting-progress{
    display: none;
}
.delete-account .deleting-progress .deleting{
    display: block;
    color: limegreen;
    margin: 5px;
    font-style: italic;
}


.uploadDpDiv{
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.529);
    z-index: 99;
    display: none;
    justify-content: center;
    align-items: center;
}
.uploadDpDiv .uploadDpContainer{
    box-shadow: 0 0 20px 14px #050505;
    display: flex;
    position: relative;
    /* border: 2px solid #007bff; */
    padding: 0 35px 35px 35px;
    height: fit-content;
    margin-top: 30px;
    background-color: #ffffff;
    flex-direction: column;
    align-items: flex-end;
}
.uploadDpDiv .uploadDpContainer .fa-xmark{
    color: rgb(34, 36, 37);
    margin: 20px 0px 20px 0px;
}
.uploadDpDiv .uploadDpContainer .fa-xmark:hover{
    cursor: pointer;
}
.uploadDpDiv .uploadDpContainer form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    padding: 22px 6px;
    background-color: #99b3a4;
    color: white;
}

.uploadDpDiv .uploadDpContainer form input{
    background-color: #2e323c;
    border: 1px solid rgb(31, 29, 29);
    margin-top: 10px;
    padding: 4px 10px;
    color: rgb(0, 0, 0);
    border-radius: 5px;
}

#uploadDbButton{
    display: none;
    background-color: #2e323c;
    border: 1px solid rgb(31, 29, 29);
    margin-top: 10px;
    padding: 4px 10px;
    color: rgb(255, 255, 255);
    border-radius: 5px;
}
.uploadDpDiv .uploadDpContainer form #uploadDbButton:hover{
    background-color: #18191c;
    cursor: pointer;
}

.uploadDpDiv .uploadDpContainer label{
    color: rgb(20, 19, 19);
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.uploadDpDiv .uploadDpContainer label:hover{
    cursor: grab;
}
#removeImage{
    display: none;
    color: rgb(0, 0, 0);
    padding: 2px 6px;
    border-radius: 3px;
}
#removeImage:hover{
    cursor: pointer;
}
.uploadDpDiv .uploadDpContainer #errorMessage{
    color: red;
    background-color: bisque;
    padding: 4px 14px;
    border-radius: 5px;
    display: none;
}
.uploadDpDiv .uploadDpContainer #message{
    display: none;
    padding: 4px 8px;
}
.contentTopics .title:hover{
    cursor: pointer;
}

.mediaDiv .uploadDiv{
    padding: 10px;
    margin: 0px 0px 10px 0;
    margin-left: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
   
    
}
.mediaDiv .uploadDiv .uploadFile{
    width: 190px;
    height: 150px;
    border: 1px dashed grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
    margin-top: 15px;
}

.mediaDiv .uploadDiv .uploadedFile{
    width: 190px;
    height: 150px;
    /* border: 1px solid grey; */
    display: inline-block;
    margin-right: 15px;
    margin-top: 15px;
}

.mediaDiv .uploadDiv .uploadedFile .uploadDivInside{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #cfd1d8;
    border: 2px solid #cfd1d8;
}
.mediaDiv .uploadDiv .uploadedFile .uploadDivInside .picOptions{
    position: absolute;
    top: 30px;
    right: 8px;
    min-width: 100px;
    background-color: #18191c;
    border: 1px solid;
}
.uploadedFile .uploadDivInside .picOptions div{
    padding: 1px 25px 1px 10px;
    border-bottom: 1px solid;
    color: #cfd1d8;
}
.mediaDiv .uploadDiv .uploadedFile .uploadDivInside .picOptions div:hover{
    background-color: #3a3d40;
    cursor: pointer;
}
.mediaDiv .uploadDiv .uploadedFile .uploadDivInside .picOptions div:last-child{
    border: 0;
}
.mediaDiv .uploadDiv .uploadedFile .uploadDivInside .imgDiv{
    height: 100%;
    overflow: hidden;
}
.mediaDiv .uploadDiv .uploadedFile .uploadDivInside img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.mediaDiv .uploadDiv .uploadedFile .uploadDivInside .fileOptions{
    position: absolute;
    top: 5px; /* Adjust the top position as needed */
    right: 5px; /* Move the element to the right */
}
.mediaDiv .uploadDiv .uploadedFile .uploadDivInside .fileOptions .optIcon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    border-radius: 50%;
    background-color: #3a3d40;
    color: white;
}
.mediaDiv .uploadDiv .uploadedFile .uploadDivInside .fileOptions .optIcon:hover{
    cursor: pointer;
    background-color: #2b2e36;
}
.uploadProgressDiv{
    background-color: #28a745;
    border-radius: 40px;
    height: 20px;
    width: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: .8rem;
    overflow: hidden;
}


.imageShowDiv{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #050505be;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imageShowDiv .imageContainer{
    width: auto;
    max-width: 97vw;
    height: 100%;
    max-height: 97vh;
    position: relative;
}
.imageShowDiv .imageContainer img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.imageShowDiv .imageContainer i{
    position: absolute;
    right: 5px;
    top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    background-color: #3a3d40;
    color: white;
}
.imageShowDiv .imageContainer i:hover{
    cursor: pointer;
    background-color: #202021;
}

@media (max-width: 990px) {
    

    .mediaDiv .uploadDiv .uploadFile{
        width: 150px;
        height: 120px;
    }
    
    .mediaDiv .uploadDiv .uploadedFile{
        width: 150px;
        height: 120px;
    }
    .contentView{
        border: 0;
        border-radius: 0;
    }

    .userContent{
        border-radius: 15px;
        padding: 20px 0 0 0;
    }
    .account-settings .user-profile {
        margin: 0 0 1rem 0;
        text-align: unset;
    }
    .gutters{
        margin: 0px;
    }
    .account-settings{
        max-width: none;
        margin-top: 10px;
    }
    .leftSide{
        margin-top: 15px;
        margin-bottom: 0px;
    }
    .account-settings .user-profile{
        display: flex;
        flex-direction: row;
        margin-bottom: 0;
        padding: 0 10px;
        background-color: aliceblue;
        border-radius: 10px;
    }
    .account-settings .user-profile .user-avatar img{
        width: 90px;
        height: 90px;
    }
    .user-profile .user-details{
        overflow-wrap: anywhere;
        width: 100%;
        padding-left: 20px;
    }
    .card-body{
        padding: 10px 0px;
    }
    .guttersInside{
        padding: 0;
    }
}

@media (max-width: 500px){
    .setPassword{
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .contentView .contentTopics{
        margin-left: 0;
    }
    .setPassword .googleBinded{
        font-size: 13px;
        text-align:start;
        width: 90%;
        padding: 5px 15px;
        margin-top: 10px;
        margin-left: 5px;
        border-radius: 9px;
        flex-direction: row-reverse;
        justify-content: flex-end;
    }
    .setPassword .password{
        width: 90%;
    }
    .privacySecurity .password .inp{
        max-width: none;
    }
    .privacySecurity .password .button{
        width: auto;
        max-width: none;
        display: inline-block;
        padding: 7px 10px;
    }
    .uploadDpDiv{
        justify-content: center;
        align-items: center;
    }
    .uploadDpDiv .uploadDpContainer{
        margin: 0;
    }
}
@media (max-width: 990px) {
    .profileOptions .profileActions{
        font-size: 13px;
    }
}