.leftSide{
    border: 1px solid grey;
    border-radius: 15px;
}
.profile{
    margin: 15px 0px;
}
.editProfile span{
    cursor: pointer;
    margin-top: 20px;
    padding: 6px 20px;
    border: 1px solid grey;
    border-radius: 35px;
}
.editProfile{
    display: flex;
    justify-content: center;
    align-items: center;
}
.edit-fields{
    display: none;
}

.account-settings{
    max-width: 400px;
}
.account-settings .user-profile {
    margin: 0 0 1rem 0;
    text-align: center;
}
.account-settings .user-profile .user-avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.account-settings .user-profile .user-avatar .editPhotos{
    margin-top: -28px;
    margin-right: -86px;
    background-color: rgb(255, 255, 255);
    border: 2px solid grey;
    padding: 4px 10px;
    border-radius: 100px;
    color: #83878f;
}
.account-settings .user-profile .user-avatar .editPhotos:hover{
   cursor: pointer;
}
.account-settings .user-profile .user-avatar img {
    width: 150px;
    height: 150px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    border: 1px solid grey;
}
.account-settings .user-profile h5.user-name {
    margin: 0 0 0.5rem 0;
}
.account-settings .user-profile h6.user-email {
    margin-top: 10px;
    font-size: 0.8rem;
    font-weight: 400;
    color: #9fa8b9;
}
.account-settings .about {
    margin: 2rem 0 0 0;
    text-align: center;
}
.account-settings .about h5 {
    margin: 0 0 15px 0;
    font-size:x-large;
    color: #007ae1;
}
.account-settings .about p {
    font-size: 0.825rem;
}
.form-control {
    border: 1px solid #cfd1d8;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    font-size: .825rem;
    background: #ffffff;
    color: #2e323c;
}
.user-profile .user-details{
    margin-top: 10px;
}
.card {
    background: #ffffff;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    border: 0;
    margin-bottom: 1rem;
}

@media (max-width: 990px) {
    .gutters{
        margin: 0px;
    }
    .account-settings{
        max-width: none;
        margin-top: 10px;
    }
    .leftSide{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .account-settings .user-profile{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 0;
        padding: 10px 20px;
        background-color: aliceblue;
        border-radius: 10px;
    }
    .account-settings .user-profile .user-avatar .editPhotos{
        /* background-color: rgb(240, 248, 255); */
    }
    .user-profile .user-details{
        width: 100%;
        margin: 0px;
    }
    .card-body{
        padding: 10px 0px;
    }
    .guttersInside{
        padding: 0;
    }
}