.sidebar-block, .main-block{
    height: 100%;
    max-height: 100vh;
    overflow: auto;
}

.paragraphs{
    padding: 0 30px;
}
.paragraphs h3{
    font-weight: bolder;
    font-size: 20px;
}
.paragraphs h4{
    font-size: 20px;
}
.paragraphs .update-date{
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 20px;
}.paragraphs q{
    margin: 5px 20px;
    display: block;
    font-size: 18px;
    padding: 0px 5px;
    font-style: italic;
}
.team{
    display: flex;
    flex-direction: row;
    overflow: auto;
    margin: 30px 0;
}
.team .members{
    background-color: #dee6e0;
    border-radius: 15px;
    margin:20px 10px;
    padding: 20px;
    width: auto;
}
.team .members:hover{
    cursor: pointer;
    box-shadow: 0 0 3px 1px rgb(130, 133, 130);
}
.team .members a{
    font-weight: bold;
    margin-top: 10px;
    padding: 2px 10px;
}
.TOC-subh{
    font-size: 20px;
    margin-left: -20px;
    font-weight: bold;
}
.main-block{
    display: flex;
    flex-direction: column;
}

.row{
    flex-direction: row;
}

.sidebar-block li{
    margin: 2px 0 2px 0px;
    font-weight: 700;
}

.close-symbol{
    position: absolute;
    right: 30px;
}
.table-content{
    display: block;
    margin-bottom: 0;
}
.table-content li{
    transform: rotate(45deg);
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition-duration: .5s;
}
#toggle-icon{
    display: none;
}


.login-signup{
    border-radius: 5px;
    display: flex;
    align-self: center;
    padding: 20px;
    max-width: 400px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}


.login-signup form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.login-signup .title{
    text-transform: uppercase;
    font-size: 25px;
    font-weight: bolder;
    margin: 10px 0;
}
.login-signup .lg-inputs{
    display: block;
    width: 100%;
    margin: 15px 0;
    border: 0;
    border-bottom: 1.5px solid grey;
    padding: 10px;
    font-weight: 600;
}
.login-signup .lg-inputs:hover, .login-signup .lg-inputs:active, .login-signup .lg-inputs:focus{
    border: 1.5px solid purple;
    box-shadow: 0 0 3px 0px purple;
}
.login-signup .btn{
    border: 0;
    background-color: #0782fc;
    max-width: 100px;
    color: aliceblue;
    font-weight: bold;
    margin-top: 30px;
    padding: 5px 6px;
}
.login-signup .btn:hover, .login-signup .btn:focus,.login-signup .btn:active{
    box-shadow: none;
    border: 0;
    background-color: #1168c0;
    color: rgb(255, 253, 253);
}

.activity-tables{
    overflow: auto;
}
.table thead th{
    border-bottom: 2px solid #0782fc;
}
.table-bordered td, .table-bordered th {
    border: 1px solid #0782fc;
}

.login-block{
    /* max-height: auto; */
}

@media (max-width: 1000px){
    .table-content{
        font-size: 18px;
    }
    .admin-block-sidebar #tb-con{
        display: none;
    }
    .admin-block-sidebar #toggle-icon{
        display: inline-block;
    }
}
@media (max-width: 767px) {
    .team .members{
        margin: 30px 20px;
    }
    #toggle-icon{
        display: inline-block;
    }
    #tb-con{
        display: none;
    }
    
    .table-content{
        font-size: 20px;
        padding: 5px 10px;  
    }
    
    .sidebar-block, .main-block{
        height: 100%;
        max-height:none;
        margin-bottom: 5px;
    }
    .sidebar-block{
        transition: height cubic-bezier(0.175, 0.885, 0.32, 1.275);
        /* display: none; */
    }
    .main-block{
        /* display: block; */
    }
}
@media (max-width: 567px) {
    .team{
        flex-direction: column;
        overflow:visible;
    }
    .team .members{
        width:auto;
        margin-top: 20px;
        padding: 35px 10px;
    }
    .team .members .profile-image{
        width: auto;
        height: auto;
    }
}
@media (max-width: 467px){
    .paragraphs{
        padding: 0;
    }
    #toggle-icon{
        display: inline-block;
    }
}




