.sidebar-block, .main-block{
    height: 100%;
    max-height: 80vh;
    margin-bottom: 5px;
}
.paragraphs{
    overflow: auto;
}
.main-block{
    display: flex;
    flex-direction: column;
}
.sidebar-block{
}