.sidebar-block, .main-block{
    height: 100%;
    max-height: 80vh;
    margin-bottom: 5px;
}
.sidebar-block{
    overflow: auto;
}
.paragraphs{
    padding: 0 30px;
    overflow: auto;
}
.paragraphs h3{
    font-weight: bolder;
    font-size: 20px;
}
.paragraphs h4{
    font-size: 20px;
}
.paragraphs .update-date{
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 20px;
}.paragraphs q{
    margin: 5px 20px;
    display: block;
    font-size: 18px;
    padding: 0px 5px;
    font-style: italic;
}
.team{
    display: flex;
    flex-direction: row;
    overflow: auto;
    margin: 30px 0;
}
.team .members{
    background-color: #dee6e0;
    border-radius: 15px;
    margin:20px 10px;
    padding: 20px;
    width: auto;
}
.team .members:hover{
    cursor: pointer;
    box-shadow: 0 0 3px 1px rgb(130, 133, 130);
}
.team .members a{
    font-weight: bold;
    margin-top: 10px;
    padding: 2px 10px;
}
.TOC-subh{
    font-size: 20px;
    margin-left: -20px;
    font-weight: bold;
}
.main-block{
    display: flex;
    flex-direction: column;
}

.row{
    flex-direction: row;
}

.sidebar-block li{
    margin: 2px 0 2px 0px;
    font-weight: 700;
}

.close-symbol{
    position: absolute;
    right: 30px;
}
.table-content{
    display: block;
    margin-bottom: 0;
}
.table-content li{
    transform: rotate(45deg);
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition-duration: .5s;
}
#toggle-icon{
    display: none;
}
@media (max-width: 1000px){
    .table-content{
        font-size: 18px;
    }
}
@media (max-width: 767px) {
    .team .members{
        margin: 30px 20px;
    }
    #toggle-icon{
        display: inline-block;
    }
    #tb-con{
        display: none;
    }
    .table-content{
        font-size: 20px;
        padding: 5px 10px;
    }
    
    .sidebar{
        margin-bottom: 10px;
    }
    .sidebar-block, .main-block{
        height: 100%;
        max-height:none;
        margin-bottom: 5px;
    }
    .sidebar-block{
        transition: height cubic-bezier(0.175, 0.885, 0.32, 1.275);
        /* display: none; */
    }
    .main-block{
        display: block;
    }
}
@media (max-width: 567px) {
    .team{
        flex-direction: column;
        overflow:visible;
    }
    .team .members{
        width:auto;
        margin-top: 20px;
        padding: 35px 10px;
    }
    .team .members .profile-image{
        width: auto;
        height: auto;
    }
}
@media (max-width: 467px){
    .paragraphs{
        padding: 0;
    }
    #toggle-icon{
        display: inline-block;
    }
}