/*!
 * Temlate Name: Launch
 * Version: 1.0
 * Author: Justin Audain
 * License: Creative Commons Attribution 3.0 License
 * Website: http://themes.audaindesigns.com
 */

/*-Base-*/

body {
	background-color:#dddbdb;
	font-family: 'Open Sans', sans-serif;
}
p {
	color:#474545;
}
a { 
	color:#5a9269;
}
.row{
	flex-direction: row-reverse;
}


.copyright-row{
	flex-direction: row;
	display: contents;
}
/*-Header-*/
#header-section {
	border-radius: 5px 5px 0px 0px ;
	padding: 10px 20px;
	display: flex;
	border-bottom: 4px solid #b299a8;
}

.home-tabs{
	padding: 5px 5px 0 20px;
}

#header-section h1{
	
	width: auto;
	color: #03291f;
    border-radius: 4px;
    font-size: 25px;
    font-weight: 700;
	margin:.5rem;
}
#header-section a{
	text-decoration: none;
}
.content{
	padding: 0px 1px;
}
.goal-summary {
	/* padding: 0px 40px; */
}
.goal-summary .backers, .goal-summary .funded, .goal-summary .time-left, .goal-summary .reminder {
	/* margin: 10px 20px 10px 0px; */
	padding-right: 20px;
	display: inline-block;
	border-right: 1px solid rgba(255, 255, 255, 0.39);
}
.goal-summary .reminder.last {
	border:0;
}
.goal-summary .backers h3, .goal-summary .funded h3, .goal-summary .time-left h3 {
	background-color:#fff;
	padding:5px;
	margin:0px 0px 5px 0px;
	display:table;
	border-radius:4px;
	color:#85AD90;
}
.goal-summary .backers span, .goal-summary .funded span, .goal-summary .time-left span {
	color:#fff;
}
.goal-summary .reminder a {
	background-color:#fff;
	padding:8px;
	display:table;
	border-radius:4px;
	text-decoration:none;
}
.goal-summary .reminder a:hover, .goal-summary .reminder a:focus {
	background-color:#85AD90;
	color:#fff;
}


@media (min-width: 1200px){
	.container {
		max-width: 100%;
	}
}
@media (min-width: 992px){
.container {
    max-width: 100%;
}
}
@media (min-width: 720px) {
	.container {
		max-width: 100%;
	}
	.style-7::-webkit-scrollbar
	{
		width: 2px;
	}
	
}
@media (min-width: 1300px){
	.container {
		max-width: 1250px;
	}
}

@media (max-width: 767px) {
	.style-7::-webkit-scrollbar
	{
		width: 2px;
	}

	.container {
		max-width: 100%;
	}
	.goal-summary {
		text-align: center;
		padding: 0px 40px;
	}
}
@media (max-width: 480px) {
	
}

.style-7::-webkit-scrollbar
{
	width: 6px;
}

.style-7::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color:  #239677;
}



.block{
	height: 20px;
}

/*-Section Blocks-*/
.section-block {
	background-color: #f5f5f9;
	padding: 30px;
	margin-bottom:0px;
}

.sidebar-block, .main-block, .section-block{
    height: 100%;
    max-height: 100vh;

}

.home-block{
	padding: 20px;
	overflow: auto;
	min-height: 80vh;
}
.section-block.summary {
    background-color: #66a778;
	
}
.featured-block{
	padding-top: 5px;
}

.section-featured{
	border: .5px solid #66a778;
}
.section-featured .update-title{
	text-transform: capitalize;
}

.post-meta{
	margin-bottom: 8px;
}
.post-meta a{
	display: inline;
	margin-left: 15px;
	text-decoration: none;
	font-size: small;
	font-weight: 700;
}
.post-meta a:first-child{
	margin-left: 0;
}
.section-block.summary h1 {
    color: #fff;
	display:block;
	text-align:center;
}
.section-block.transparent {
	background-color:transparent
}
.section-block.signup {
	background-color: #69dbbd;
}
.section-block h1 {
	margin-top:0;
}
.section-title {
	color: #69dbbd;
	display: table;
	padding: 10px 0px;
	font-size: 25px;
	font-weight:700;
}

/*-Main Content-*/
.main-content {
	padding:5px;
}

/*-Profile Summary-*/
.section-block.members{
	width: 50%;
}
.profile-contents {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
    text-align: center;
	align-items: center;
}
.profile-contents h2 {
	color:#FFF;
	font-size: 16px;
	line-height: 1.5;
	font-weight:300;
	margin-top: 5px;
	margin-bottom: 10px;
}
.profile-image {
	width: 100px;
	height: 100px	;
	border-radius:50%;
	margin-bottom:10px;
}
.profile-contents ul li {
	padding:0;
	margin:5px;
}
.profile-contents ul li a {
	background-color: #85AD90;
	color: #FFF;
	height: 40px;
	width: 40px;
	display: inline-block;
	text-align: center;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
}
.profile-contents ul li a i.fa {
	font-size: 20px;
	margin-top: 10px;
}
.profile-contents ul li a:hover {
	background-color:#779A81;
}

/*-Funding Meta-*/
.funding-meta {}
.funding-meta h1 {
	background: #69dbbd;
	color: #fff;
	border-radius: 4px;
	display: table;
	padding: 10px;
	font-size: 25px;
	font-weight:700;
}
.type-meta {
	color:#A7A7A7;
	font-size: 12px;
	display: inline-block;
	margin: 0px 10px 10px 0px;
}
.type-meta i.fa {
	color:#69dbbd;
	margin-right:5px;
}
.funding-meta h2{
	font-weight:700;
}
.funding-meta p {
	color: #A7A7A7;
	margin: 30px 0px 10px 0px;
}
.video-frame {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
	display:block;
}
.video-frame iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.funding-meta h2, .funding-meta span.contribution {
	display:inline-block;
	color: #85AD90;
}
.funding-meta span.contribution, .funding-meta span.goal-progress {
	color: #A7A7A7;
}
.funding-meta span.goal-progress {
	text-align:right;
	display: block;
}
.count-down {
	display: block;
	color: #A7A7A7;
	text-align: right;
	text-transform: uppercase;
}
.count-down strong {
	padding-right:5px;
}
.progress-bar {
	background-color: #69dbbd;
	box-shadow:none;
}
.progress {
	height: 30px;
	background-color: #ECEBEB;
	box-shadow:none;
	margin: 10px 0px 10px 0px;
}

/*-Rewards-*/
.reward-block {
	position:relative;
	background-color: #fff;
	border-radius: 4px;
	padding: 20px;
	margin-bottom:20px;
}
.reward-block:hover {
	background-color: #e5f0e8;
}
.reward-block.last {
	margin-bottom:0;
}
.reward-block h3 {
	background: #69dbbd;
	color: #fff;
	font-size: 15px;
	font-weight: 700;
	margin: 0px 0px 10px 0px;
	padding: 10px;
	display: table;
	border-radius: 4px;
}
.reward-block h2 {
	font-size: 20px;
	font-weight: bolder;
	margin: 10px 0px;
}
.reward-block i.fa {
	color:#69dbbd;
}
.reward-block span {
	font-weight: 700;
	font-size: small;
	margin-bottom: 8px;
	display: block;
	color: #A7A7A7;
}
.reward-block.popular:after {
	position: absolute;
	top: 10px;
	right: 10px;
	content: "popular";
	background-color: #2ED9EA;
	color: #fff;
	padding: 5px;
	border-radius: 4px;
	text-transform: uppercase;
	font-weight: 700;
}

/*-Sign up form-*/
.sidebar-block{
	padding: 20px 3px;
}

.sign-up-form {
	text-align: center;
}
.sign-up-form p {
	font-weight:700;
	color:#fff;
}
.signup-input {
	width: 100%;
	border: 0;
	padding: 10px;
	border-radius: 4px;
	max-width: 400px;
}
.s-tabs{
	padding: 10px 15px;
	font-weight: 700;
	border-bottom: 1px solid grey;
}
.s-tabs:hover{
	cursor: pointer;
}
.profile-tab{
	display: flex;
	padding-bottom: 20px;
	flex-direction: row;
	align-items: center;
}
.profile-tab img{
	margin-right: 10px;
	border-radius: 40px;
	height: 60px;
	width: 60px;
	border: 3px solid rgb(135, 183, 181);
}
.s-tabs i{
	margin-right: 10px;
}
.s-tabs p{
	margin-bottom: 2px;
}
.s-tabs .desig{
	font-size: 15px;
}
.s-tabs .name{
	color: black;
	text-transform: capitalize;
}

#close-bars{
	color: #239677;
	display: none;
	cursor: pointer;
}

#bars{
	margin-top: 23px;
	margin-right: 20px;
	color:#5a9269;
	display: none;
	cursor: pointer;
}

.brand{
	display: flex;
    flex-direction: row;
}


@media (max-width: 900px) {
	.s-tabs .name{
		font-size: 15px;
	}
	.s-tabs .desig{
		font-size: 12px;
	}
}

@media (max-width: 767px) {
	#bars{
		display: block;
	}
	#close-bars{
		display: block;
	}
	.profile-tab{
		border: 0;
		margin-top: 10px;
	}
	.profile-tab img{
		height: 70px;
		width: 70px;
	}
	.sidebar{
		transition: left .8s;
		position: absolute;
		z-index: 999;
		right: 0;
		left: -100vw;
		bottom: 0;
		top:0;
		min-height: 100%;
	}

	.style-7::-webkit-scrollbar{
		width: 3px;
		border-radius: 3px;
	}
	.signup-input {
		width: 75%;
		max-width: 100%;
	}
	.featured{
		padding: 0;
	}
	.section-block{
		padding: 20px;
	}
}

@media (max-width: 570px) {
	.nav-tabs>li{
		margin: 0px 5px 10px 5px;
	}
	#header-section{
		flex-direction: column;
	}
    #header-section h1{
		text-align: center;
		margin-bottom: 1rem;
	}
	#header-section .head-tabs{
		justify-content: center;
	}
}

@media (max-width: 480px) {
	
	.featured-block{
		padding: 0;
		margin-bottom: 10px;
	}
	.signup-input {
		width: 100%;
		max-width: 100%%;
	}
	.sign-up-form .btn.btn-signup {
		margin:10px 0px;
		width:100%;
		display:block;
	}
	.home-tabs{
		padding: 5px 5px 5px 0px;
	}
}

/*-Tabs-*/
.head-tabs{
	justify-content: right;
    width: 100%;
    display: flex;
    overflow: auto;
}

.nav-tabs{
	border: 0;
	display: flex;
	align-items: center;
	flex-wrap: nowrap;
	padding: 5px 0;
	overflow: auto;
}
.nav-tabs::-webkit-scrollbar-thumb{
	background-color: #239677;
	border-radius: 2px;
}

.nav-tabs::-webkit-scrollbar
{
	height: 2px;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
	color: #FFF;
	background-color: #69dbbd;
}
.nav-tabs>li>a:hover{
	color: #FFF;
	background-color: #69dbbd;
}
.nav-tabs>li>a {
	border: .5px solid #69dbbd;
	border-radius: 5px;
	padding: 4px 7px;
	color:#555353;
	font-weight:700;
	text-decoration: none;
}
.nav-tabs>li{
	margin: 5px;
	white-space: nowrap;
}

.tab-content .section-title {
	margin-bottom: 20px;
	border-bottom: 1px solid #E2E2E2;
	display: block;
}

/*-Updates-*/
.update-post {
	margin-bottom: 30px;
	padding: 10px;
	background-color: #FDFDFD;
	border-radius: 4px;
}
.update-post .update-title {
	margin: 10px 0px;
	font-weight: 700;
}
.update-post .update-date {
	margin-bottom: 8px;
	display: block;
	color: #A7A7A7;
	font-size: small;
	font-weight: 700;
}



/*-Buttons-*/
.btn {
	border:0;
}
.btn.btn-launch {
	background-color: #69dbbd;
	color: #FFF;
	font-size: 17px;
	font-weight: 600;
	padding: 10px 25px;
}
.btn.btn-launch:hover, .btn.btn-launch:focus,.btn.btn-reward, .btn.btn-reward:hover, .btn.btn-reward :focus {
	background-color:#85AD90;
	box-shadow:none;
}
.btn.btn-reward {
	background-color: #69dbbd;
    color: #FFF;
    font-size: 14px;
    font-weight: 600;
    padding: 5px 15px;
}
.btn.btn-signup {
	background-color: #69dbbd;
	color: #fff;
	height: 40px;
	width: 43px;
	margin-left: 10px;
	border: 2px solid #fff;
	text-align: center;
}
.btn.btn-contact {
	background-color: #85AD90;
	color: #fff;
	font-weight:700;
}
.btn.btn-contact:hover, .btn.btn-contact:focus {
	background-color: #779A81;
}
.btn.btn-contact i.fa {
	margin-right:10px;
}
.btn.btn-follow {
	background-color: #81A8F1;
	color: #fff;
	margin-bottom:10px;
}
.btn.btn-download {
	background-color: #85AD90;
	color: #fff;
}

/*-Credits-*/
.credit-block {
	height: 200px;
	overflow-y: scroll;
	padding: 15px;
	background-color: #FFF;
	border-radius: 4px;
	/* margin-bottom: 10px; */
}
.credit-block.sources a{
	margin: 10px 0px;
	display: block;
}
.credit-block.license a.lined{
	text-decoration:underline;
}
.credit-block i.fa {
	padding-right:10px;
}

/*-Footer-*/
.footer {
	
	border-top: 4px solid #b299a8;
}
.footer-section{
	border-radius: 0 0 6px 6px;
}

/*-Overrides-*/
.btn, input{
	outline:none;
	{