    <div class="brand"><h1><a href="/">Fastreed</a></h1></div>
    <div class="rightside">
        <div class="nav" id="nav">
            <!-- Accounts Nav -->
            <div>
                <i id="accountIcon" class="fa fa-regular fa-circle-user fa-xl" onclick="toggleAccounts()"></i>
            </div>
            <div class="spinner" id="MenuSpinner"></div>
            <!-- Accounts Nav -->

            <!-- Settings Nav -->
            <div class="navs">
                <i class="fa fa-gear fa-xl" onclick="toggleSetting()"></i>
            </div>
            <!-- Settings Nav -->
        </div>
    </div>