		<div class="profileUpdateShade">
			<div class="wrapper">
				<div class="cancel">
					<i class="fa fa-times" onclick="cancelUpdatePopup()"></i>
				</div>
				<p class="title">Complete Profile</p>
				<form>
					<span id="errorMessage"></span>
					<div class="u-inputs">
						<span class="up-name">Gender</span>
						<select id="updateGender">
							<option value="" disabled selected>Select</option>
							<option value="Male">Male</option>
							<option value="Female">Female</option>
							<option value="Others">Others</option>
						</select>
					</div>
					<div class="u-inputs">
						<span class="up-name">Date Of Birth</span>
						<input type="date" id="updateDOB" placeholder="DD/MM/YYYY">
					</div>
					<div class="u-inputs">
						<span class='button' id="updateDOBndGender" onclick='updateDOBndGender()'>Update</span>
					</div>
				</form>
			</div>
		</div>