<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link href="/assets/fontawesome/css/fontawesome.min.css" rel="stylesheet">
    <link href="/assets/fontawesome/css/brands.min.css" rel="stylesheet">
    <link href="/assets/fontawesome/css/solid.min.css" rel="stylesheet">
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="src/css/preview.css">
  </head>
  <body>
    <div class="upperBox">
      <div class="moveBackward">
        <div class="arrowCircle">&#10094;</div>
      </div>
      <div class="webstoryBox">
        <div class="navBars">

        </div>
        <div class="layer">
          <img id="" class="layerImage" src="/assets/img/default.jpeg" alt="">
          <div class="topLayer">
            <div class="texts">
              <span class="date"> September 22, 2023</span>
              <span class="title">Top 10 best cities to visit</span>
              <span class="mediaCredit">Unsplash Copyright</span>
            </div>
          </div>
          <div class="touchNavigation">
            <div class="backward"></div>
            <div class="forward"></div>
          </div>

        </div>
      </div>
      <div class="moveForward">
        <div class="arrowCircle">&#10095;</div>
      </div>
    </div>
  </body>
</html>
