.filter{
    margin-bottom: 10px;
}
.filter select, .filter input{
    margin: 10px;
    padding: 3px 5px;
    border: 2px solid rgb(23, 155, 111);
    border-radius: 3px;
}
.filter select:hover, .filter select:active, .filter select:focus{
    outline: 2px solid rgb(82, 216, 172) ;
    border:0;
}
.filter select:first-child{
    margin-left: 0;
}
.filter-button{
    margin-top: 10px;
    padding: 3px 10px;
    background-color: rgb(11, 202, 202);
    color: white;
    font-weight: bolder;
    cursor: pointer;
    border: 2px solid rgb(11, 202, 202);
    border-radius: 5px;
}
.filter-button:hover{
    background-color: rgb(10, 226, 226);
}

.filter label{
    font-weight: bolder;
}
.activity-tabs {
    margin: 10px 0;
}
.activity-tabs .tabs{
    margin: 10px;
    padding: 15px 20px;
    background-color: rgb(223, 217, 229);
    border-radius: 5px;
    color: rgb(0, 0, 0);
    width: fit-content;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-weight: 600;
    flex-direction: column;
}

.activity-tabs .tabs .number{
    font-size: 25px;
    font-weight: bolder;
    display: flex;
    align-items: center;
}
.activity-tabs .tabs .entity{
    margin-top: 20px;

}
.activity-tabs .tabs .percent{
    font-weight: 700;
    font-size: 18px;
    margin-left: 10px;
}
.activity-tabs .tabs .loss{
    color: orangered;
}
.activity-tabs .tabs .profit{
    color: green;
}
.rotate-up{
    transform: rotate(270deg);
}
#view-more{
    font-weight: 700;
    margin-left: 22px;
}


.rotate-down{
    transform: rotate(90deg);
}
.activity-tabs .tabs .fa-play{
    display: flex;
    align-items: center;
    margin-left: 5px;
}
.activity-tabs .tabs .fa-play::before{
    font-weight: 700;
    font-size: 15px;
}

.loader {
    /* border: 16px solid #f3f3f3; */
    border-radius: 50%;
    border: 10px solid transparent;
    border-top: 10px solid grey;
    border-right: 10px solid grey;
    width: 70px;
    height: 70px;
    -webkit-animation: spin 1s linear infinite; /* Safari */
    animation: spin 1s linear infinite;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  @media (max-width : 480px) {
    .activity-tabs .tabs{
        width: 100%;
    }
    
  }