*{
    padding: 0;
    margin: 0;
}


.editContainer{
    position: relative;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    display: flex;
    justify-content: center;
}
.editContainer .sections{
    position: relative;
    height: 100%;
}

.editContainer .rightSection{
    width: 30%;
    background-color: #1c1c22;
}
.editContainer .editorSection{
    width: 45%;
    display: flex;
    background-color: white;
    align-items: center;
    flex-direction: column;
    padding:20px 0;
    overflow: auto;
}
.editContainer .editorSection .editorBox{
    margin: 5px 40px 5px 40px;
    width: calc(9*1.75rem);
    height: calc(16*1.8rem);
    min-height: calc(16*1.8rem);
    box-shadow: 0px 0px 1px 1px grey;
    display: flex;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    color: grey;
    position: relative;
    z-index: 9;
}
.editContainer .editorSection .editorBox img, .editContainer .editorSection .editorBox video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    border-radius: 20px;
}
.editContainer .editorSection .editorBox:hover{
   cursor: pointer;
}

.editContainer .editorSection .editorBox .placeholder{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.editContainer .editorSection .editorBox .placeholder p{
    margin: 0px;
}
.editContainer .editorSection .editorNav{
    margin-bottom: 20px;
    width: calc(10*25px);
    display: flex;
    flex-direction: row;
}
.editContainer .editorSection .editorNav .navs{
    margin: 0px 8px;
    margin-top: 10px;
    width: 100%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .7s;
    color: darkgreen;
}
.editContainer .editorSection .editorNav .navs:hover{
    background-color: silver;
    cursor: pointer;
}

.editContainer .editorSection .editorNav .deleteAdd:hover{
    background-color: transparent;
    color: rgb(196, 61, 11);
}
.editContainer .editorSection .editorBox .layers{
    /* animation: enterAnimation 1s forwards; */
    position: relative;
    z-index: 999;
    width: 100%;
    height: 100%;
    justify-content: center;
    transition: all .7s;
}

.editContainer .editorSection .editorBox .layers .overlay{
    background: black;
    opacity: 1%;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
.editContainer .editorSection .editorBox .layers .layersTop{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    border-radius: 20px;
    flex-direction: column;
    justify-content: flex-end;
    background-image: linear-gradient(rgba(255,255,255, 0), rgba(255,255,255, 0),rgba(0, 0, 0, 0), rgba(0, 0, 0 ,0.5), rgba(0, 0, 0));
    z-index: 999;
}

.editorSection .editorBox .layers .layersTop div{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    color: white;
    padding: 0px 10px;
    margin-top: 10px;
}

.editorSection .editorBox .layers .layersTop .text{
    border-radius: 0px 0px 20px 20px;
    padding-bottom: 20px;
    margin-top: 0px;
}
.editorSection .editorBox .layers .layersTop div span{
    height: 45%;
    width: 100%;
    display: flex;
    align-items: center;
    color: white;
    padding: 10px;
    height: auto;
    overflow-wrap: anywhere;
}
.editorSection .editorBox .layers .layersTop .caption{
    height: 10%;
    align-items: flex-end;
    padding-bottom: 10px;
    font-size: small;
}
.editorSection .editorBox .layers .layersTop .title{
    align-items: flex-end;
    font-weight: 1000;
    font-size: larger;
}
#title0{
    align-items: flex-end;
    font-weight: 1000;
    font-size: larger;
    margin-bottom: 10px;
}
.editorSection .editorBox .layers .layersTop .caption span{
    justify-content: center;
}
.editContainer .editorSection .editorBox .layers .videoControls{
    position: absolute;
    z-index: 9999;
    color: white;
    display: flex;
    right: 0px;
    top: 0px;
    padding: 15px 20px 5px 5px;
}
.editContainer .editorSection .editorBox .layers .videoControls i{
    margin-left: 15px;
}



.editContainer .leftSection{
    background-color: #1c1c22;
    /* position: absolute; */
    width: 25%;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    padding-right: 0!important;
}

.editContainer .leftSection .uploadsDiv, .rightDiv{
    margin: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
}
.rightDiv{
    margin: 0;
    padding: 10px ;
}
.editContainer .leftSection .uploadsDiv .buttons{
    margin-top: 10px;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.editContainer .leftSection .uploadsDiv .buttons .selectButton{
    transition: all .5s;
    text-align: center;
    display: inline;
    background-color: #3a3d40;
    width: 100px;
    padding: 5px 12px;
    color: rgb(186, 180, 180);
    border-radius: 5px;
    font-weight: bold;
    margin-left: 5px;
    width: auto;
}

.editContainer .leftSection .uploadsDiv .buttons .uploadNew{
    background-color: aqua;
    color: #28282e;
}

.editContainer .leftSection .uploadsDiv .buttons .uploadNew:hover{
    background-color: rgb(8, 166, 166);
}

.editContainer .leftSection .uploadsDiv .selectButton:hover{
  cursor: pointer;
}
.editContainer .leftSection .uploadsDiv .uploadHead, .rightDiv .rightHead{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    width: 100%;
}
.editContainer .leftSection .uploadsDiv .uploadHead .top{
    display: flex;
    width: 100%;
}
.editContainer .leftSection .uploadsDiv .uploadHead .uploadsTitle{
    background-color: #28282e;
    height: auto;
    width: 100%;
    display: flex;
    border: 1px solid grey;
    color: grey;
    padding: 8px 14px;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    border-radius: 20px;
    font-weight: bold;
}
.editContainer .leftSection .uploadsDiv .uploadHead .uploadsTitle:hover{
    background-color: #1c1c22;
    cursor: pointer;
}
.editContainer .leftSection .uploadsDiv .uploads{
    background-color: #28282e;
    width: 100%;
    display: flex;
    color: grey;
    padding: 8px 0px 12px 0px;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-y: auto;
    max-height: 90%;
    border-radius: 10px;
    /* margin-bottom: 10px; */
}
.editContainer .leftSection .uploadsDiv .uploadHead .refreshUpload{
    display: flex;
    width: 100%;
    margin: 5px 12px;
    background-color: #28282e;
    color: #c6c1c1;
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
    flex-direction: row;
    align-items: center;
}
.editContainer .leftSection .uploadsDiv .uploadHead .uploadingBar{
    margin: 5px;
    background-color: #28282e;
    padding: 4px 15px;
    width: 100%;
    border-radius: 5px;
    color: grey;
}
.editContainer .leftSection .uploadsDiv .uploadHead .warning{
    background-color: rgba(189, 97, 64, 0.798);
    color: white;
}
.uploadHead .uploadingBar .uploadProgress{
    width: 100%;
    height: 13px;
    background-color: rgb(78, 85, 85);
    margin: 10px 0;
    border-radius: 20px;
}
.uploadHead .uploadingBar .uploadProgress div{
    width: 0%;
    height: 13px;
    background-color: rgb(8, 159, 159);
    margin: 10px 0;
    border-radius: 20px;
}
.uploadHead .uploadingBar .success{
    color: rgb(10, 180, 10);
}
.refreshUpload label{
    margin: 0 10px 0 5px;
    cursor: pointer;
}
.refreshUpload .refreshDiv{
    width: max-content;
    display: flex;
    justify-content: right;
}
.refreshUpload .uploadNew{
    display: flex;
    width: 100%;
    min-width: 60%;
    align-items: center;
    padding: 3px 8px;
    justify-content: flex-start;
}
.refreshUpload .uploadNew div{
    background-color: #40404b;
    padding: 3px 10px;
    border-radius: 4px;
}
.refreshUpload .uploadNew .status{
    margin-left: 5px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 30px;
}
.refreshUpload .uploadNew .status:hover{
    background-color: #40404b;
}
.refreshUpload .uploadNew div:hover{
    background-color: #111113;
}

.editContainer .leftSection .uploadsDiv .uploadContent{
    width: 44%;
    height: 100px;
    margin: 2%;
    border: 1px solid grey;
    display: inline-block;
    position: relative;
    /* border-radius: 5px; */
}

.editContainer .leftSection .uploadsDiv .uploadContent .fileInfo{
    position: absolute;
    top: 0px;
    right: 5px;
}

.uploadContent .fileInfo .whatIcon, .hideShow .whatIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 21px;
    height: 21px;
    line-height: 21px;
    text-align: center;
    border-radius: 10%;
    background-color: #3a3d40;
    color: white;
}



.editContainer .leftSection .uploadsDiv .uploadContent img, .editContainer .leftSection .uploadsDiv .uploadContent video {
    max-height: 100%;
    max-width: 100%;
    height: 100%;
    width: 100%;
    object-fit: cover;
    cursor:grab;

}
.editContainer .leftSection .uploadsDiv .uploadContent img:hover, .editContainer .leftSection .uploadsDiv .uploadContent video:hover{
    cursor: grab;
}


.hideShow .whatIcon{
    width: 25px;
    height: 25px;
    color: #1c1c22;
    background-color: transparent;
}
.hideShow{
    position: absolute;
}
.hideShowLeft{
    display: none;
    position: absolute;
    z-index: 999;
    background-color: transparent;
    left: 0px;
    top: 20px;
    padding:8px 6px 8px 0px;
    background-color: aqua;
    border-radius: 0px 20px 20px 0px;
}
.hideShowRight{
    display: none;
    background-color: transparent;
    right :0px;
    top: 20px;
    padding:8px 0px 8px 6px;
    background-color: aqua;
    border-radius: 20px 0px 0px 20px;
}

.lefthideMe, .righthideMe{
    margin-left: 10px;
    display: none;
    justify-content: center;
    align-items: center;
    border: 1px solid grey;
    width: auto;
    height: auto;
    padding: 10px 12px;
    margin-bottom: 12px;
    border-radius: 30px;
    background-color: #28282e;
}
.righthideMe{
    display: none;
    margin: 0;
}
.lefthideMe .whatIcon, .righthideMe .whatIcon{
    color: white;
}
.lefthideMe:hover, .righthideMe:hover{
    background-color: #1c1c22;
    cursor: pointer;
}
.rightHead .buttonsDiv{
    width: 80%;
    display: flex;
    /* padding-bottom: 10px; */
}
.rightHead .buttonsDiv .buttons{
    padding: 6px 13px;
    border: 1px solid grey;
    border-radius: 5px;
    font-weight: bold;
    margin-left: 10px;
    color: rgb(194, 197, 201);
}
.rightHead .top {
    display: flex;
    width: 100%;
    overflow-y: auto;
    align-items: center;
}
.rightHead .buttonsDiv .buttons:hover{
    background-color: #28282e;
    cursor: pointer;
}

.rightDiv .selectedObject{
    display: flex;
    margin: 10px 10px 0px 10px;
    width: 100%;
    flex-direction: column;
}
.rightDiv .selectedObject .objectHead{
    display: flex;
    background-color: #28282e;
    /* width: 100%; */
    padding: 10px;
    font-weight: bold;
    color: rgb(194, 197, 201);
    overflow-y: auto;
    border-radius: 10px;
}

.rightDiv .selectedObject .objectHead span{
    margin: 0 8px;
    padding: 5px 12px;
    border-radius: 5px;
    white-space: nowrap;
}

.rightDiv .selectedObject .objectHead span:first-child{
    margin-left: 5px;
}
.rightDiv .selectedObject .objectHead .active, .rightDiv .selectedObject .objectHead span:hover{
    cursor: pointer;
    background-color: #40404b;
    border: 0;
}

.rightDiv .selectedObject .objectOptions{
    display: flex;
    background-color: #28282e;
    width: 100%;
    padding: 10px;
    color: rgb(194, 197, 201);
    flex-direction: column;
    margin-top: 10px;
    border-radius: 10px;
}
.rightDiv .selectedObject .objectOptions .objectOptionsbody{
    display: flex;
    flex-direction: column;
    padding: 0px 10px 10px 10px;
    max-height: 80vh;
    overflow-x: hidden;
    overflow-y: auto;
}

.rightDiv .selectedObject .objectOptions .objectOptionsbody .optionsDIv{
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: #3a3d40;
    border-radius: 10px;
    margin-top: 10px;
}
.rightDiv .selectedObject .objectOptions .objectOptionsbody .optionsDIv .objectName{
    display: flex;
    cursor: pointer;
}
.rightDiv .selectedObject .objectOptions .objectOptionsbody .optionsDIv .objectName span{
    display: flex;
    width: 50%;
    font-weight: bolder;
    align-items: center;
    margin-left: 10px;
}
.rightDiv .selectedObject .objectOptions .objectOptionsbody .optionsDIv .objectName i{
    display: flex;
    width: 50%;
    justify-content: right;
    margin-right: 10px;
    align-items: center;
}
.rightDiv .selectedObject .objectOptions .objectOptionsbody .optionsDIv .options div{
    margin: 10px 10px 0px 20px;
}
.rightDiv .selectedObject .objectOptions .objectOptionsbody .optionsDIv .options .property{
    padding: 0px 10px;
    font-weight: bold;
}
.rightDiv .selectedObject .objectOptions .objectOptionsbody .optionsDIv .options .value{
    background-color: transparent;
    border: 1px solid grey;
    color: rgb(202, 195, 195);
    padding: 2px 5px;
    border-radius: 4px;
    margin: 10px 15px 15px 25px;
}
.rightDiv .selectedObject .objectOptions .objectOptionsbody .optionsDIv .options .text{
    width: -webkit-fill-available;
    margin-left: 5px;
}

.fa-angle-right:before {
    content: ""!important;
}

.fa-angle-right:after {
    content: "\f105"!important;
}
.spinner {
    border: 4px solid rgb(218, 218, 218);
    border-left: 4px solid rgb(32,33,35);
    width: 25px;
    height: 25px;
    border-radius: 50%;
    animation: rotate 1s linear infinite;
    margin-right: 20px;
}

@keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .infinite-rotation {
    animation: rotate infinite .8s linear;
  }

@media (max-width: 850px){
    .editContainer .leftSection{
        animation: grow .5s ease forwards;
    }
    .editContainer .leftSection{
        display: none;
        position: absolute;
        width: 100%;
        max-width: 350px;
        z-index: 999;
    }

    .hideShowLeft{
        display: flex;
    }

    .editContainer{
        justify-content: left;
    }

    .editContainer .editorSection{
        width: 60%;
    }

    .editContainer .rightSection{
        width: 40%;
    }
}


@media (max-width: 600px){

    .editContainer .rightSection{
        animation: grow .5s ease forwards;
    }
    .editContainer .leftSection .uploadsDiv, .rightDiv {

    }
    .hideShowRight{
        display: flex;
    }
    .editContainer .leftSection{
        display: none;
        position: absolute;
        width: 100%;
    }

    .editContainer .editorSection{
        width: 100%;
        margin-top: 10%;
    }

    .editContainer .rightSection{
        display: none;
        position: absolute;
        right: 0;
        width: 100%;
        max-width: 350px;
        z-index: 999;
    }
}
@media (max-width: 400px){

    .editContainer .editorSection .editorBox{
        width: calc(9*2rem);
        height: calc(16*1.95rem);
        min-height: calc(16*1.95rem);
    }
    .editContainer .editorSection {
        justify-content: flex-start;
        /* padding-top: 10%; */
    }
}

@media (max-width: 350px){
    .editContainer .editorSection .editorBox {
        margin: 20px 40px 10px 40px;
        width: calc(9*1.6rem);
        height: calc(16*1.6rem);
    }

}


@keyframes grow {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
