<div class="container">
    <div class="row gutters profile">
      <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 guttersInside leftSide">
        <div class="card h-100">
          <div class="card-body">
            <div class="account-settings">
              <div class="user-profile">
                <div class="user-avatar">
                  <img src="<?php echo $this->userData->getOtherData('username', $this->otherUsername)['profilePic'];?>">
                </div>
                <br>
                <div class="user-details">
                  <h3 class="user-name"><?php echo $this->userData->getOtherData('username', $this->otherUsername)['name']?></h3>
                  <h4 class="user-email">@<?php echo $this->userData->getOtherData('username', $this->otherUsername)['username']?></h4>
                </div>
              </div>
              <div class="profileOptions">
                <span class="profileActions" onclick="follow()" id="editButton">Follow</span>
            </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-12 guttersInside">
        <div class="userContent">
          <div class="userContentMenus scrollbar-style">
            <a id="dashboardMenu" class="menus" onclick="new showMenus()" href="/users/<?php echo $this->userData->getOtherData('username', $this->otherUsername)['username']?>">Dashboard</a>
            <a id="contentMenu" class="menus" onclick="new showMenus()" href="?opt=content">Content</a>
            <a id="mediaMenu" class="menus" onclick="new showMenus()" href="?opt=media"> Media Library</a>
            <a id="accountMenu" class="menus" onclick="new showMenus()" href="?opt=account">Manage Account</a>
          </div>


          <div id="dashboardDiv" class="dashboardDiv contentView">
            <div class="contentTopics">
              <div class="title">Posts and Webstories</div>
            </div>
          </div>


          <div id="contentDiv" class="dashboardDiv contentView"></div>
          <div id="mediaDiv" class="mediaDiv contentView">
            <div class="contentTopics">
              <div class="title">All Media Content
                <div id="uploadForm">
                  <span id="uploadLabel">Add new </span>
                </div>
              </div>
              <div id="progressBar" class="progressBar">
                <div id="progressTotal" class="progressTotal"></div>
              </div>
            </div>
          </div>
          <div id="accountDiv" class="accountDiv contentView">
            <div class="contentTopics">

              <div class="title">Personal Details</div>

              <div class="user-avatar">
                <img src="<?php echo $this->userData->getOtherData('username', $this->otherUsername)['profilePic'];?>">
                <div onclick="new showMenus().uploadDp()" class="editPhotos" id="editPhotos">
                  <i class="fa fa-pen fa-xs"></i>
                </div>
              </div>
              <div class="card-body edit-fields" id="edit_fields">
                <div class="row gutters"> 
                  <div id="updateAlert" class="col-12">
                    <div id="uAlert" class="alert alert-danger alert-dismissible fade show"><span id="editmessage"> </span>
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="form-group">
                      <label for="fullName">Full Name</label> <span class="errorMessage" id="nameErrorMessage"></span>
                      <input onkeyup="update.checkName()" value="<?php echo $this->userData->getOtherData('username', $this->otherUsername)['name'];?>" type="text" class="form-control" id="fullName" placeholder="Enter full name" autocomplete="off">
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="form-group">
                      <label for="username">Username</label><span class="errorMessage" id="usernameErrorMessage"></span>
                      <input onkeyup="update.checkUsername()" value="<?php echo $this->userData->getOtherData('username', $this->otherUsername)['username'];?>" type="text" class="form-control" id="username" placeholder="Enter Username i.e. Jhon_doe, jhon.doe " autocomplete="off">
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="form-group">
                      <label  for="eMail">Email</label><span class="errorMessage" id="emailErrorMessage"></span>
                      <input onkeyup="update.checkEmail()" value="<?php echo $this->userData->getOtherData('username', $this->otherUsername)['email']?>" type="email" class="form-control" id="eMail" placeholder="Enter email ID" autocomplete="off">
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="form-group">
                      <label for="DOB">Date of birth</label><span class="errorMessage" id="DOBErrorMessage"></span>
                      <input onkeyup="update.checkDOB()" onselect="update.checkDOB()" onchange="update.checkDOB()" value="<?php echo $this->userData->getOtherData('username', $this->otherUsername)['DOB']?>" type="date" class="form-control" id="DOB" placeholder="Enter Date of birth">
                    </div>
                  </div>
            
                  <?php
                  $male = '';
                  $female = '';
                  $other = '';
                    if($this->userData->getOtherData('username', $this->otherUsername)['Gender'] == 'Male'){
                      $male = 'selected';
                    }elseif($this->userData->getOtherData('username', $this->otherUsername)['Gender'] == 'Female'){
                      $female = 'selected';
                    }elseif($this->userData->getOtherData('username', $this->otherUsername)['Gender'] == 'Others'){
                      $other = 'selected';
                    }
                  ?>
                  <div class="col-12">
                    <div class="form-group">
                      <label for="gender">Gender</label><span class="errorMessage" id="genderErrorMessage"></span>
                      <select onchange="update.validateGender()" class="form-control" name="gender" id="gender">
                        <option value="none">Select</option>
                        <option value="Male" <?php echo $male;?>>Male</option>
                        <option value="Female" <?php echo $female;?>>Female</option>
                        <option value="Others" <?php echo $other;?>>Others</option>
                      </select>
                    </div>
                  </div>
            
                  <div class="col-12">
                    <div class="form-group">
                      <label for="website">Website</label><span class="errorMessage" id="websiteErrorMessage"></span>
                      <input onkeyup="update.checkWebsite()" value="<?php echo $this->userData->getOtherData('username', $this->otherUsername)['websiteUrl']?>" type="url" class="form-control" id="website" placeholder="Enter Url" autocomplete="off">
                    </div>
                  </div>
            
                  <div class="col-12">
                    <div class="form-group">
                      <label for="about">About</label><span class="errorMessage" id="aboutErrorMessage"></span>
                      <textarea value="" onkeyup="update.checkAbout()" class="form-control" name="about" id="about" rows="2" placeholder="Write about yourself" onfocus="this.setAttribute('autocomplete', 'off');" onblur="this.setAttribute('autocomplete', 'on');"><?php echo $this->userData->getOtherData('username', $this->otherUsername)['bio'];?></textarea>
                    </div>
                  </div>
                </div>
                <?php
                if ($this->userData->getSelfDetails()['userType'] == $this->userData->getOtherData('username', $this->otherUsername)['userType']) {
                  echo <<<HTML
                  <div class="col-12">
                    <div class="form-group">
                        <label for="DOB">Enter Password</label><span class="errorMessage" id="passwordError"></span>
                        <input onkeyup="update.checkCurrentPassword1()" type="password" class="form-control" id="currentPasswordDet" placeholder="Enter current password">
                    </div>
                </div>
                  HTML;
                    <!-- echo <<<HTML 
                    <div class="col-12">
                        <div class="form-group">
                            <label for="DOB">Enter Password</label><span class="errorMessage" id="passwordError"></span>
                            <input onkeyup="update.checkCurrentPassword1()" type="password" class="form-control" id="currentPasswordDet" placeholder="Enter current password">
                        </div>
                    </div>
                    HTML; -->
                }
                ?>
                <div class="row gutters">
                  <div class="col-12">
                    <div>
                      <button type="button" onclick="update.editByAdmin()" id="submit" name="submit" class="btn btn-primary">Update Details</button>
                    </div>
                  </div>
                </div>
              </div>

            </div>

            <!-- Password Creation and Updation -->


           
            <div class="privacySecurity contentTopics">
              <?php 
              if($this->userData->getSelfDetails()['userType'] == $this->userData->getOtherData('username', $this->otherUsername)['userType']){
              $currentPass = <<<HTML
                    <span class="IndError" id="currentasswordError" style="display:none"></span>
                    <div class="inp" >
                      <input onkeyup="update.checkCurrentPassword2()" type="password" name="" id="currentPassword" placeholder="Current password" autocomplete="off"> 
                    </div>
                HTML;
              }else{
                $currentPass = '';
              }

              if($this->userData->accountsByUser()['password'] === null || empty($this->userData->accountsByUser()['password'])){
                echo <<<HTML
                  <div class="title">Create password</div>
                  <div class="setPassword">
                    <div class="password">
                      <div id="pErrorDiv" class="col-12" style="display:none">
                        <div id="pErrorMessage" class="alert alert-danger alert-dismissible fade show"><span id="editmessage"> </span>
                          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                      </div>
                      <span class="IndError" id="newPasswordError" style="display:none"></span>
                      <div class="inp" ><input onkeyup="update.checkNewPassword()" type="password" name="" id="newPassword" placeholder="Enter new password"> <i id="passEye" class="eye-logo fa fa-eye-slash" onclick="update.shufflePass()" autocomplete="off"></i> </div>
                      <span class="IndError" id="verifyError" style="display:none"></span>
                      <div class="inp" ><input onkeyup="update.checkVerifyPassword()" type="password" name="" id="newPasswordVerify" placeholder="Verify new password"> <i id="verifyEye" class="eye-logo fa fa-eye-slash" onclick="update.shuffleVerify()" autocomplete="off"></i></div>
                      <div class="inp button" onclick="update.createNewPassword()"><span>Create Password</span></div>
                    </div>
                  </div>
                  <!--  -->
                  HTML;
              }else{
                echo <<<HTML
                  <div class="title">Update password</div>
                  <div class="setPassword">
                    <div class="password">
                      <div id="pErrorDiv" class="col-12" style="display:none">
                        <div id="" class="alert alert-danger alert-dismissible fade show"><span id="pErrorMessage"> </span>
                        </div>
                      </div>
                        $curretPass
                      <span class="IndError" id="newPasswordError" style="display:none"></span>
                      <div class="inp" ><input onkeyup="update.checkNewPassword()" type="password" name="" id="newPassword" placeholder="Enter new password" autocomplete="off"> <i id="passEye" class="eye-logo fa fa-eye-slash" onclick="update.shufflePass()" autocomplete="off"></i> </div>
                      <span class="IndError" id="verifyError" style="display:none"></span>
                      <div class="inp" ><input onkeyup="update.checkVerifyPassword()" type="password" name="" id="newPasswordVerify" placeholder="Verify new password" autocomplete="off"> <i id="verifyEye" class="eye-logo fa fa-eye-slash" onclick="update.shuffleVerify()" autocomplete="off"></i></div>
                      <div class="inp button" onclick="update.updatePassword()"><span>Update Password</span></div>
                    </div>
                  </div>
                  <!--  -->
                HTML;
              }
              ?>


              
            </div>
            <!-- Password Creation and Updation -->
          </div>

        </div>
      </div>
    </div>
  </div>
    





  