<div class="container">
    <div class="row gutters profile">
      <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 guttersInside leftSide">
        <div class="card h-100">
          <div class="card-body">
            <div class="account-settings">
              <div class="user-profile">
                <div class="user-avatar">
                  <img src="<?php echo $this->userData->getSelfDetails()['profilePic'];?>">
                  <div onclick="new showMenus().uploadDp()" class="editPhotos" id="editPhotos">
                    <i class="fa fa-pen fa-xs"></i>
                  </div>
                </div>
                <br>
                <div class="user-details">
                  <h3 class="user-name"><?php echo $this->userData->getSelfDetails()['name']?></h3>
                  <h4 class="user-email">@<?php echo $this->userData->getSelfDetails()['username']?></h4>
                </div>
              </div>
              <div class="profileOptions">
                <a href="/users/<?php echo $this->userData->getSelfDetails()['username'];?>" class="profileActions">Public View</a>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-12 guttersInside">
        <div class="userContent">
          <div class="userContentMenus scrollbar-style">
            <a id="dashboardMenu" class="menus" onclick="new showMenus()" href="/profile/">Dashboard</a>
            <a id="contentMenu" class="menus" onclick="new showMenus()" href="?opt=content">Content</a>
            <a id="mediaMenu" class="menus" onclick="new showMenus()" href="?opt=media"> Media Library</a>
            <a id="accountMenu" class="menus" onclick="new showMenus()" href="?opt=account">Manage Account</a>
          </div>


          <div id="dashboardDiv" class="dashboardDiv contentView">
            <div class="contentTopics">
              <div class="title">Posts and Webstories</div>
            </div>
          </div>


          <div id="contentDiv" class="dashboardDiv contentView"></div>
          <div id="mediaDiv" class="mediaDiv contentView">
            <div class="contentTopics">
              <div class="title">All Media Content
                <div id="uploadForm">
                  <span id="uploadLabel">Add new </span>
                </div>
              </div>
              <div id="progressBar" class="progressBar">
                <div id="progressTotal" class="progressTotal"></div>
              </div>
            </div>
          </div>
          <!-- Manage Accounts -->
          <div id="accountDiv" class="accountDiv contentView">
            <div class="contentTopics">
              <!-- for showing info -->
              <div class="personalInfoTab" id="personalInfoShow">
                <div class="title">Personal Details</div>

                <div class="infoDiv">
                  <span class="infoType"> <i class="fa-solid fa-user fa-xl"></i></span>
                  <span class="infoValue"><?php echo $this->userData->getSelfDetails()['name'];
                    if($this->userData->getSelfDetails()['Gender'] != null){
                      echo ' ('.$this->userData->getSelfDetails()['Gender'].')';
                    }
                  ?>
                  </span>
                </div>

                <?php
                if ($this->userData->getSelfDetails()['DOB'] != null) {
                  echo <<<HTML
                  <div class="infoDiv">
                    <span class="infoType"><i class="fa-solid fa-calendar fa-xl"></i></span>
                    <span class="infoValue">{$this->userData->getSelfDetails()['DOB']}</span>
                  </div>
                  HTML;
                }
                ?>
              
                <div class="infoDiv">
                  <span class="infoType"><i class="fa-solid fa-hashtag fa-xl"></i></span>
                  <span class="infoValue"><?php echo $this->userData->getSelfDetails()['username'];?>
                  </span>
                </div>

                <div class="infoDiv">
                  <span class="infoType"><i class="fa-solid fa-at fa-xl"></i></span>
                  <span class="infoValue"><?php echo $this->userData->getSelfDetails()['email'];?>
                  </span>
                </div>

                <?php
                if($this->userData->getSelfDetails()['websiteUrl'] != null){
                  echo <<<HTML
                  <div class="infoDiv">
                    <span class="infoType"><i class="fa-solid fa-earth-asia fa-xl"></i></span>
                    <span class="infoValue">{$this->userData->getSelfDetails()['websiteUrl']}
                    </span>
                  </div>
                  HTML;
                }
                ?>

                <?php
                if($this->userData->getSelfDetails()['bio'] != null){
                  echo <<<HTML
                  <div class="infoDiv">
                    <span class="infoType"><i class="fa-solid fa-circle-info fa-xl"></i></span>
                    <span class="infoValue">{$this->userData->getSelfDetails()['bio']}
                    </span>
                  </div>
                  HTML;
                }
                ?>   
                
                <span id="editDetailsButton" onclick="update.enableEditing()">Edit Details  <i class="fa-solid fa-pen-to-square"></i></span>

              </div>
              <!-- For Editing Info -->
              <div class="personalInfoTab" id="personalInfoEdit" style="display:none">
                <div class="title">Personal Details</div>
                <div class="card-body edit-fields" id="edit_fields" style="display:block">
                  <div class="row gutters">
                    <div id="updateAlert" class="col-12">
                      <div id="uAlert" class="alert alert-danger alert-dismissible fade show"><span id="editmessage"> </span>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                    </div>
      
                    <div class="col-lg-6 col-md-6">
                      <div class="form-group">
                        <label for="fullName">Full Name</label> <span class="errorMessage" id="nameErrorMessage"></span>
                        <input onkeyup="update.checkName()" value="<?php echo $this->userData->getSelfDetails()['name'];?>" type="text" class="form-control" id="fullName" placeholder="Enter full name" autocomplete="off">
                      </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                      <div class="form-group">
                        <label for="username">Username</label><span class="errorMessage" id="usernameErrorMessage"> </span>
                        <input onkeyup="update.checkUsername()" value="<?php echo $this->userData->getSelfDetails()['username'];?>" type="text" class="form-control" id="username" placeholder="Enter Username i.e. Jhon_doe, jhon.doe " autocomplete="off">
                      </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                      <div class="form-group">
                        <label for="DOB">Date of birth</label><span class="errorMessage" id="DOBErrorMessage"></span>
                        <input onkeyup="update.checkDOB()" onselect="update.checkDOB()" onchange="update.checkDOB()"value="<?php echo $this->userData->getSelfDetails()['DOB']?>" type="date" class="form-control" id="DOB" placeholder="Enter Date of birth">
                      </div>
                    </div>
        
                    <?php
                    $male = '';
                    $female = '';
                    $other = '';
                      if($this->userData->getSelfDetails()['Gender'] == 'Male'){
                        $male = 'selected';
                      }elseif($this->userData->getSelfDetails()['Gender'] == 'Female'){
                        $female = 'selected';
                      }elseif($this->userData->getSelfDetails()['Gender'] == 'Others'){
                        $other = 'selected';
                      }
                    ?>
                    <div class="col-lg-6 col-md-6">
                      <div class="form-group">
                        <label for="gender">Gender</label><span class="errorMessage" id="genderErrorMessage"></span>
                        <select onchange="update.validateGender()" class="form-control" name="Gender" id="gender">
                          <option value="none">Select</option>
                          <option value="Male" <?php echo $male;?>>Male</option>
                          <option value="Female" <?php echo $female;?>>Female</option>
                          <option value="Others" <?php echo $other;?>>Others</option>
                        </select>
                      </div>
                    </div>
        
                    <div class="col-lg-6 col-md-6">
                      <div class="form-group">
                        <label for="website">Website</label><span class="errorMessage" id="websiteErrorMessage"></span>
                        <input onkeyup="update.checkWebsite()" value="<?php echo $this->userData->getSelfDetails()['websiteUrl']?>" type="url" class="form-control" id="website" name="websiteUrl" placeholder="Enter Url" >
                      </div>
                    </div>
        
                    <div class="col-lg-6 col-md-6 col-xl">
                      <div class="form-group">
                        <label for="about">About</label><span class="errorMessage" id="aboutErrorMessage"></span>
                        <textarea value="" onkeyup="update.checkAbout()" class="form-control" name="about" id="about" rows="1" onfocus="this.setAttribute('autocomplete', 'off');" onblur="this.setAttribute('autocomplete', 'on');"><?php echo $this->userData->getSelfDetails()['bio'];?></textarea>
                      </div>
                    </div>
                    
                  </div>

                  <?php if($this->userData->accountsByUser()['password'] === null || empty($this->userData->accountsByUser()['password'])){
                    echo <<<HTML
                    <script> var usingPass = true; </script>
                      <div class="row gutters">
                        <div class="col-12">
                          <div>
                            <button type="button" onclick="update.editByUser()" id="submit" name="submit" class="btn btn-primary">Update Details</button>
                          </div>
                        </div>
                      </div>
                    HTML;
                  }else{
                    echo <<<HTML
                    <script> var usingPass = true; </script>
                    <div class="col-lg-6 col-md-6">
                      <div class="form-group">
                        <label for="DOB">Enter Password</label><span class="errorMessage" id="passwordError"></span>
                        <input onkeyup="update.checkCurrentPassword1()" type="password" class="form-control" id="currentPasswordDet" placeholder="Enter current password">
                      </div>
                    </div>
                    <div class="row gutters">
                      <div class="col-12">
                        <div>
                          <button type="button" onclick="update.cancelEditing()" id="submit" name="submit" class="btn btn-secondary">Cancel</button>
                          <button type="button" onclick="update.editByUser()" id="submit" name="submit" class="btn btn-primary">Update Details</button>
                        </div>
                      </div>
                    </div>
                  HTML;
                  }?>

                  
                </div>
              </div>
              

            </div>

            <!-- Password Creation and Updation -->
            <div class="privacySecurity contentTopics">
              <?php if($this->userData->accountsByUser()['password'] === null || empty($this->userData->accountsByUser()['password'])){
                echo <<<HTML
                  <div class="title">Create password</div>
                  <div class="setPassword">
                    <div class="password">
                      <div id="pErrorDiv" class="col-12" style="display:none">
                        <div id="pErrorMessage" class="alert alert-danger alert-dismissible fade show"><span id="editmessage"> </span>
                          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                      </div>
                      <span class="IndError" id="newPasswordError" style="display:none"></span>
                      <div class="inp" ><input onkeyup="update.checkNewPassword()" type="password" name="" id="newPassword" placeholder="Enter new password"> <i id="passEye" class="eye-logo fa fa-eye-slash" onclick="update.shufflePass()" autocomplete="off"></i> </div>
                      <span class="IndError" id="verifyError" style="display:none"></span>
                      <div class="inp" ><input onkeyup="update.checkVerifyPassword()" type="password" name="" id="newPasswordVerify" placeholder="Verify new password"> <i id="verifyEye" class="eye-logo fa fa-eye-slash" onclick="update.shuffleVerify()" autocomplete="off"></i></div>
                      <div class="inp button" onclick="update.createNewPassword()"><span>Create Password</span></div>
                    </div>
                  </div>
                  <!--  -->
                  HTML;
              }else{
                echo <<<HTML
                  <script> var usingPass = true; </script>
                  <div class="title">Update password</div>
                  <div class="setPassword">
                    <div class="password">
                      <div id="pErrorDiv" class="col-12" style="display:none">
                        <div id="" class="alert alert-danger alert-dismissible fade show"><span id="pErrorMessage"> </span>
                        </div>
                      </div>
                      <span class="IndError" id="currentasswordError" style="display:none"></span>
                      <div class="inp" >
                        <input onkeyup="update.checkCurrentPassword2()" type="password" name="" id="currentPassword" placeholder="Current password" autocomplete="off"> 
                      </div>
                      <span class="IndError" id="newPasswordError" style="display:none"></span>
                      <div class="inp" ><input onkeyup="update.checkNewPassword()" type="password" name="" id="newPassword" placeholder="Enter new password" autocomplete="off"> <i id="passEye" class="eye-logo fa fa-eye-slash" onclick="update.shufflePass()" autocomplete="off"></i> </div>
                      <span class="IndError" id="verifyError" style="display:none"></span>
                      <div class="inp" ><input onkeyup="update.checkVerifyPassword()" type="password" name="" id="newPasswordVerify" placeholder="Verify new password" autocomplete="off"> <i id="verifyEye" class="eye-logo fa fa-eye-slash" onclick="update.shuffleVerify()" autocomplete="off"></i></div>
                      <div class="inp button" onclick="update.updatePassword()"><span>Update Password</span></div>
                    </div>
                  </div>
                  <!--  -->
                HTML;
              }
              ?>
            </div>
            <!-- Password Creation and Updation -->
          </div>
          <!-- Manage Accounts -->

        </div>
      </div>
    </div>
  </div>
    