
<?php
$showCreation = false;
if($canCreate == 'NOR'){
    echo <<<HTML
    <div class="contentTopics resCreation row">
        <div class="title col-12 mb-3">Creator Request</div>
        <div class="ml-3 col-12 d-inline">
          <div class="infor"> To contribute content to Fastreed, please click the designated submit button. Our administrators will assess and determine whether to approve or decline your submission </div>
        </div>
        <span id="reqCreation" class="reqCreationButton ml-3" onclick="requestCreation()">Submit</span>
    </div>
    HTML;
}elseif($canCreate == 'REQ'){
    echo <<<HTML
    <div class="contentTopics resCreation row">
        <div class="title col-12 mb-3">Creator Request</div>
          <div class="ml-3 col-12 d-inline">
            <div class="infor">A request been made for contribution to Fastreed. Kindly anticipate a 24-48 hour waiting period for our final result</div>
          </div>
        <span id="requestedUser" class="ml-3" >Submitted</span>
    </div>
    HTML;
}elseif($canCreate == 'REJ'){
    echo <<<HTML
    <div class="contentTopics resCreation row">
        <div class="title col-12 mb-3">Creator Request</div>
        <div class="ml-3 col-12 d-inline">
            <div class="infor"> Your Request has been <strong> rejected</strong> by our administrators. You still have a chance, if you want to try again. Our administrators will again assess and determine whether to approve or decline your submission </div>
        </div>
          <span id="reqCreation" class="reqCreationButton ml-3" onclick="requestCreation()">Submit Again</span>
    </div>
    HTML;
}elseif($canCreate == 'ACC'){
    $showCreation = true;
}
?>

<div class="contentTopics resCreation row webstoriesDiv" id="webstoriesDiv">
    <div class="mtitle mb-3">
        <?php
        if($showCreation){
            echo <<<HTML
            <div>
                <span id="reqCreation" class="reqCreationButton" onclick="InitializeWebstory('')">Create New Story &nbsp;&nbsp;<i class="ml-1 fa fa-solid fa-square-plus"></i>
                </span>
            </div>
            HTML;
        }else{
            echo <<<HTML
            <div>
                <span>Web Stories</span>
            </div>
            HTML;
        }
        ?>
    </div>
  <div class="webstories" id="webstories">
  </div>
</div>
