<?php
$showCreation = false;
if($canCreate == 'NOR'){
    echo <<<HTML
    <div class="contentTopics resCreation row">
        <div class="title col-12 mb-3">Creator Request</div>
        <div class=" col-12 d-inline">
          <div class="alert alert-info" style="max-width:600px" role="alert">
          To contribute content to Fastreed, please click the designated submit button. Our administrators will assess and determine whether to approve or decline your submission.
          <hr>
          Please upload an ID document with your name, photo, and address clearly visible. You can combine to make a pdf(if required) and upload. Maximum upload file size is <strong>5 MB.</strong>
          </div>
          <div class="alert alert-danger"  id="errorDoc" role="alert" style="display:none;max-width:600px">
          </div>
        </div>
        <div class="requestButtons">
          <label class="reqCreationButton" id="verificationDocumentLabel" for="verificationDocument">Upload</label>
          <input  id="verificationDocument" onchange="handleFileSelect(this)" type="file" style="display:none;">
          <span id="reqCreation" class="reqCreationButton" onclick="requestCreation()">Submit</span>
        </div>
    </div>
    HTML;
}elseif($canCreate == 'REQ'){
    echo <<<HTML
    <div class="contentTopics resCreation row" style="max-width: 600px;">
        <div class="title col-12 mb-3">Creator Request</div>
          <div class="col-12 d-inline" >
            <div class="alert alert-info" role="alert" >
              A request been made for contribution to Fastreed. We usually process your request within <strong>24-48 hours.</strong> But sometimes it may take upto 7 days. Kindly anticipate this waiting period for our final result.
            </div>
          </div>
    </div>
    HTML;
}elseif($canCreate == 'REJ'){
    echo <<<HTML
    <div class="contentTopics resCreation row">
        <div class="title col-12 mb-3">Creator Request</div>
        <div class="col-12 d-inline">
            <div class="alert alert-info" role="alert">
              Your Request has been <strong> rejected</strong> by our administrators. You still have a chance, if you want to try again. Our administrators will again assess and determine whether to approve or decline your submission.
              <hr>
              Please upload an ID document with your name, photo, and address clearly visible. You can combine to make a pdf(if required) and upload. Maximum upload file size is <strong>5 MB.</strong>
              <hr>
              Rejection reason : <strong>{$rejectionReason}</strong>
            </div>
            <div class="alert alert-danger"  id="errorDoc" role="alert" style="display:none;max-width:600px">
            </div>
        </div>
        <div class="requestButtons">
          <label class="reqCreationButton" id="verificationDocumentLabel" for="verificationDocument">Upload</label>
          <input  id="verificationDocument" onchange="handleFileSelect(this)" type="file" style="display:none;">
          <span id="reqCreation" class="reqCreationButton" onclick="requestCreation()">Submit Again</span>
        </div>
    </div>
    HTML;
}elseif($canCreate == 'ACC'){
    $showCreation = true;
}
?>

<div class="contentTopics resCreation row webstoriesDiv" id="webstoriesDiv">
    <div class="mtitle mb-3">
        <?php
        if($showCreation){
            echo <<<HTML
            <div class="topBarMenus">
              <span>My Web Stories</span>
              <span id="reqCreation" onclick="InitializeWebstory('user')"><i class="fa fa-solid fa-square-plus fa-lg"></i>
              </span>
              <div class="storiesTypeRightDiv">
                <select class="storiesTypes" id="storyTypes" onchange="fetchStoriesData.filterWebstory(this)">
                  <option class="storyType" id="typeAll" value="All">All</option>
                  <option class="storyType" id="typeDrafted" value="Drafted">Drafted</option>
                  <option class="storyType" id="typePublished" value="Published">Published</option>
                  <option class="storyType" id="typeVerified" value="Verified">Verified</option>
                </select>
              </div>
            </div>
            <div class="webstories" id="webstories">
            </div>
            HTML;
        }
        ?>
    </div>
</div>
