<div class="contentTopics">
  <div class="storyBox">
    <div class="visibleArea">
      <div class="imageDiv">
        <img src="/assets/img/port1.png" alt="">
      </div>
      <div class="otherInfoDiv">
        <div class="title">
          <span>7 Things you need to know about chudial</span>
        </div>
        <div class="about">
          <div class="buttons">View</div>
          <div class="buttons">Edit</div>
          <div class="buttons">Accept</div>
          <div class="buttons">Reject</div>
          <div class="buttons">Details</div>
        </div
      </div>
    </div>
    <div class="invisibleArea" height="0px">

    </div>
  </div>
</div>
