<div class="contentTopics">
  <div class="storyBox">
    <div class="visibleArea">
      <div class="imageDiv">
        <img src="/assets/img/port1.png" alt="">
      </div>
      <div class="otherInfoDiv">
        <div class="title">
          <span>7 Things you need to know about chudial</span>
        </div>
        <div class="about">
          <div class="buttons">View <i class="fa fa-eye"></i></div>
          <div class="buttons">Edit<i class="fa fa-pen-to-square"></i></div>
          <div class="buttons">Details <i class="fa fa-caret-down"></i></div>

      </div>
    </div>
    <div class="invisibleArea" height="0px">

    </div>
  </div>
</div>
