<?php
if($canCreate == 'REQ'){
    echo <<<HTML
    <div class="contentTopics resCreation row">
        <div class="title col-12 mb-3">Creator Request</div>
        <div class="col-lg-3 col-md-3 col-6 d-flex justify-content-center">
            <span id="requested" class="reqCreationButton ACCbutton" onclick="responseCreation('ACC')">Accept</span>
        </div>
        <div class="col-lg-3 col-md-3 col-6 d-flex justify-content-center">
            <span id="rejected" class="reqCreationButton REJbutton" onclick="responseCreation('REJ')">Reject</span>
        </div>
    </div>
HTML;
}
?>