<?php
if($canCreate == 'REQ'){
    echo <<<HTML
    <div class="contentTopics resCreation row">
        <div class="title col-12 mb-3">Creator Request</div>
        <div class="col-lg-3 col-md-3 col-sm-4">
            <span id="requested" class="reqCreationButton" onclick="reponseCreation('ACC')">Accept</span>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-4">
            <span id="rejected" class="reqCreationButton" onclick="reponseCreation('REJ')">Reject</span>
        </div>
    </div>
HTML;

}
?>