<div class="container">
    <div class="row gutters profile">
        <!-- Profile on left side -->
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 guttersInside leftSide">
            <div class="card h-100">
                <div class="card-body">
                    <div class="account-settings">
                        <div class="user-profile">
                            <div class="user-avatar">
                                <img src="<?php echo $this->userData->getOtherData('username', $this->otherUsername)['profilePic']?>">
                            </div>
                            <br>
                            <div class="user-details">
                                <h3 class="user-name"><?php echo $this->userData->getOtherData('username', $this->otherUsername)['name']?></h3>
                                <h4 class="user-email">@<?php echo $this->userData->getOtherData('username', $this->otherUsername)['username']?></h4>
                            </div>
                        </div>
                        <div class="profileOptions">
                            <?php
                            $selfId = $this->userData->getSelfDetails()['UID'];
                            $otherID = $this->userData->getOtherData('username', $this->otherUsername)['UID'];
 
                            if($selfId == $otherID ){
                                echo <<<HTML
                                <a href="/profile/" class="profileActions">Profile</a>
                                HTML;
                            }
                    

                            if($this->userData->isFollowed($selfId, $otherID)){
                                echo <<<HTML
                                <span onclick="unfollow()" class="profileActions" id="followButton">Followed</span>
                                HTML;
                            }else{
                                echo <<<HTML
                                <span onclick="follow()" class="profileActions" id="followButton">Follow</span>
                                HTML;
                            }
                            ?>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Profile on left side --> 

        <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-12 guttersInside">
            <div class="userContent">
                <!-- Menus section -->
                <div class="userContentMenus scrollbar-style">
                    <a id="dashboardMenu" class="menus" onclick="new showMenus()" href="?opt">Content</a>
                    <a id="mediaMenu" class="menus" onclick="new showMenus()" href="?opt=media"> Media Library</a>
                    
                </div>
                <!-- Menus section -->

                <!-- Dashboard Section -->
                <div id="dashboardDiv" class="dashboardDiv contentView" style="display:none">
                </div>
                <!-- Dashboard Section -->

                <!-- Media Library Section -->
                <div id="mediaDiv" class="mediaDiv contentView" style="display:none">
                    <?php
                        include 'media-library.html';
                    ?>
                </div>
                <!-- Media Library Section -->

                
            </div>
        </div>
    </div>
</div>
    