<body>
    <div class="editContainer">
        <!-- Left Section -->
        <div class="sections leftSection" id="leftSection">
            <div class="uploadsDiv" id="uploadDiv">
                <div class="uploadHead">
                    <div class="top">
                        <div class="uploadsTitle">Media Library</div>
                            <div class="lefthideMe" id="lefthideMe" onclick="hideSection('leftSection')">
                                <i class="fa-solid fa-x whatIcon"></i>
                            </div>
                        </div>
                    <div class="refreshUpload" >
                        <div class="uploadNew" id="uploadNew">
                            <div>
                                <label for="uploadNewMedia">Upload New</label>
                                <input onchange="new uploadMedia()" type="file" id="uploadNewMedia" hidden="">
                                <i class="fa fa-plus-square"></i>
                            </div>
                        </div>
                        <div class="refreshDiv">
                            <i onclick="fetchMultimedia.fetchUploads()" class="fa-solid fa-arrows-rotate" id="rotateRefresh"></i>
                        </div>
                    </div>
                    <div class="uploadingBar" id="uploadingBar" style="display:none">
                        <div class="uploadMessage" id="uploadMessage"></div>
                        <div class="uploadProgress" id="uploadProgress" >
                            <div id="progress" style="display:none"></div>
                        </div> 
                    </div>
                </div>
                <div class="uploads" id="uploads">
                    <!-- Uploads will be set here -->
                </div>
            </div>
        </div>

        <div class="hideShow hideShowLeft" id="hsLeft">
            <i class="fa-solid fa-arrow-up-from-bracket whatIcon" onclick="showSection('leftSection', 'lefthideMe')"></i>

        </div>
        <!-- Left Section -->

        <!-- Editor Section -->
        <div class="sections editorSection">
            <!-- <div class="layersNumber" id="layerCount">1/1</div> -->
            
            <div class="editorNav">
                <div class="navs backArrow"  onclick="editor.moveBackward()"> <i id="backwardIcon" class="fa-sharp fa-solid fa-angle-left"></i> </div>
                <div class="navs minus" id="minusIcon" onclick="editor.deleteLayer()"><i class="fa fa-minus-circle"></i></div>
                <div class="navs deleteAdd" id="deleteMedia"><i class="fa-regular fa-trash fa-2x"></i></div>
                <div class="navs frontPlus" id="plusIcon" onclick="editor.createNewLayer()" ><i class="fa fa-plus-circle"></i></div>
                <div class="navs frontArrow"  onclick="editor.moveForward()"><i id="forwardIcon" class="fa-sharp fa-solid fa-angle-right"></i></div>
            </div>
            <div class="editorBox" id="editTab">
            </div>
        </div>
        <!-- Editor Section -->

        <!-- Right Section -->
        <div class="hideShow hideShowRight" id="hsRight" onclick="showSection('rightSection', 'righthideMe')">
            <i class="fa-solid fa-bars whatIcon"></i>
        </div>
        <div class="sections rightSection" id="rightSection">
            <div class="rightDiv">
                <div class="rightHead">
                    <div class="top">
                        <div class="righthideMe" id="righthideMe" onclick="hideSection('rightSection')">
                            <i class="fa-solid fa-x whatIcon"></i>
                        </div>
                        <div class="buttonsDiv">
                            <div class="buttons">Preview</div>
                            <div class="buttons" id="saveStory" onclick="editor.saveStory()">Save</div>
                            <div class="buttons">Publish</div>
                        </div>
                    </div>
                </div>

                <div id="selectedObject" class="selectedObject" >
                    <div class="objectHead" id="objectHead">
                        <span class="active" id="layerNumber" onclick="openOptions('layers')" >Layer 1</span>
                        <span class="" id="metaDataName" onclick="openOptions('metadata')">Metadata</span>
                    </div>

                    <div class="objectOptions" id="metaData" style="display: none;">
                        <div class="objectOptionsbody">
                            <div class="optionsDIv" id="">
                                <div class="options">
                                    <div>
                                        <span>URL</span>
                                        <input onkeypress="edits.updateMetaData('')" class="value inputText text" type="text" id="storyUrl" placeholder="type-your-webstory-link" value="">
                                    </div>
                                </div>

                                <div class="options">
                                    <div>
                                        <span>Title</span>
                                        <input onkeypress="edits.updateMetaData('')" class="value inputText text" type="text" id="storyTitle" placeholder="Add Title" value="">
                                    </div>
                                </div>

                                <div class="options">
                                    <div>
                                        <span>Description</span>
                                        <textarea onkeypress="edits.updateMetaData('')" class="value inputText text" name="" id="storyDescription" cols="22" placeholder="Describe your story" value=""></textarea>
                                    </div>
                                </div>

                                <div class="options">
                                    <div>
                                        <span>Keywords</span>
                                        <textarea onkeypress="edits.updateMetaData('')" class="value inputText text" name="" id="storyKeywords" cols="22" placeholder="Keywords" value=""></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="objectOptions" id="objectOptions">
                    </div>
                        
            </div>
           

        </div>
        <!-- Right Section -->
    </div>
</body>